html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: normal;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.block{
    display: block;
}
.right{
    float: right;
}
.left{
    float: left;
}
.ml5 {
    margin-left: 5px;
}
.lang-widget a{
    color: #9d9d9d;
}
.lang-widget li.active a{
    color: #fff;
}
a.without-hover-text-decoration{
    text-decoration: none;
}
footer.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}
nav.sidebar{
    position: absolute;
    left: 0;
    top: 50px;
    border-radius: 0;
    width: 225px;
}

.main{
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {
    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a{
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar{
        width: 225px;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

@media (min-width: 1330px) {
    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    background-color: transparent;
}
nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}
nav.navbar .navbar-collapse li.dropdown{
    cursor: pointer;
}
nav.navbar .navbar-collapse li.dropdown a.dropdown-toggle{
    padding: 10px 20px;
}
nav.navbar .navbar-collapse li.dropdown .glyphicon{
    font-size: 16px;
}
nav.navbar .navbar-collapse li.dropdown ul.dropdown-menu{
    padding: 0 0 0 15px;
}
nav.navbar .navbar-collapse li.dropdown ul.dropdown-menu li.active a{
    background: #e7e7e7;
    color: #555;
}
nav.navbar .navbar-collapse li.dropdown ul.dropdown-menu li:hover a{
    background: #e7e7e7;
    cursor: pointer;
}
nav.navbar .navbar-collapse li.dropdown a{
    padding: 6px 20px;
}
.admin-advertisement-gallery-container .gallery-item{
    width: 150px;
    display: inline-block;
}
.admin-advertisement-gallery-container .gallery-item img{
    max-width: 100%;
}
table tbody tr.super-danger td{
    background-color: #ff9b9b;
}
nav.navbar .navbar-collapse li.single a{
    padding: 10px 20px;
}
nav.navbar ul li span.admin-menu-notification{
    display: inline-block;
    background: #292929;
    min-width: 16px;
    text-align: center;
    border-radius: 100%;
    color: white;
    font-size: 10px;
    line-height: 16px;
}
.advetising-item{
    height: 150px;
    width: 170px;
    border: 1px solid #ccc;
    float: left;
    margin: 20px;
    padding: 10px;

}
.item input[type=checkbox]{
    display: none;
}

.advetising-item.active{
 background-color: #ccc;
}
.instrument-access label{
    display: block;
    width: 49%;
    float: left;
}



    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px;
    }

    .tile_count .tile_stats_count {
        border-bottom: 1px solid #D9DEE4;
        padding: 0 10px 0 20px;
        position: relative;
    }

    .tile_count .tile_stats_count, ul.quick-list li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
}

.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    position: relative;
}

.tile_count .tile_stats_count, ul.quick-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile_count .tile_stats_count .count {
    font-size: 40px;
    font-weight: 600;
}

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 85px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}