    /*
    Flaticon icon font: Flaticon
    Creation date: 21/07/2017 10:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-instagram-logo:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-google-plus-logo-button:before { content: "\f102"; }
.flaticon-vk-social-logotype:before { content: "\f103"; }
.flaticon-facebook-logo-button:before { content: "\f104"; }
    
    $font-Flaticon-instagram-logo: "\f100";
    $font-Flaticon-twitter: "\f101";
    $font-Flaticon-google-plus-logo-button: "\f102";
    $font-Flaticon-vk-social-logotype: "\f103";
    $font-Flaticon-facebook-logo-button: "\f104";