    /*
    Flaticon icon font: Flaticon
    Creation date: 21/07/2017 11:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-home-page:before { content: "\f100"; }
.flaticon-home-icon-silhouette:before { content: "\f101"; }
.flaticon-home-6:before { content: "\f102"; }
.flaticon-home-5:before { content: "\f103"; }
.flaticon-home-3:before { content: "\f104"; }
.flaticon-home-2:before { content: "\f105"; }
.flaticon-home-1:before { content: "\f106"; }
.flaticon-house:before { content: "\f107"; }
.flaticon-home:before { content: "\f108"; }
.flaticon-twitter-logo-button:before { content: "\f109"; }
.flaticon-instagram-logo:before { content: "\f10a"; }
    
    $font-Flaticon-home-page: "\f100";
    $font-Flaticon-home-icon-silhouette: "\f101";
    $font-Flaticon-home-6: "\f102";
    $font-Flaticon-home-5: "\f103";
    $font-Flaticon-home-3: "\f104";
    $font-Flaticon-home-2: "\f105";
    $font-Flaticon-home-1: "\f106";
    $font-Flaticon-house: "\f107";
    $font-Flaticon-home: "\f108";
    $font-Flaticon-twitter-logo-button: "\f109";
    $font-Flaticon-instagram-logo: "\f10a";