.h1, .h2, .h3, .h4, .h5 {
    font-size: 15px;
    margin: 0;
}
.accounting-form td{
    font-size: 12px;
    min-width: 110px;
    max-width: 110px;
    overflow: hidden;
}
.row-g .row-g_1 {
    width: 110px;
}
.row-g_input {
    width: 75px;
}
.input input {
    width: 75px;
}
.branches-table{
    max-width: 822px;
    overflow: auto;
}
.branches-table tr td.input input{
    width: 100%;
}