#advertisementformnewsingleuser-active_to-kvdate{
    width: 200px;
    float: left;
}
#style-for-until-checkbox{
    padding-left: 15px;
    padding-top: 10px;
}
.pd30{
    padding-top: 30px;
}
.ap-form-location .input-new-advertisement-address{
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    outline: 0;
    height: 34px;
    line-height: 1.428571429;
    padding: 6px 24px 6px 12px;
}
select::-ms-expand {
    display: none;
}
form .ap-form-location-add-more{
    display: inline-block;
    padding-right: 15px;
}
form .ap-form-price select, form .ap-form-volume select{
    float: none;
    width: 100%;
}
.form-error-block{
    display: none;
    color: #a94442!important;
}
.branches-table tbody tr{
    background-color: #f0f0f0;
}
/*.branches-table tbody tr:nth-child(even){*/
    /*background-color: #fff;*/
/*}*/
.branches-table thead tr{
    background-color: #fff;
}
.create-company-link {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 33px;
}
#advertisementform-active_to-kvdate{
    width: 100px;
    float: left;
}
label.text-align {
    word-break: break-all;
}
form#form-signup input[type=checkbox]{
    position: absolute;
    left: 0;
}
td.actions-buttons{
    padding-left: 10px!important;
}
td.actions-buttons a{
    text-decoration: none;
}
.hidden{
    display: none!important;
}
#company-users-dropdown{
    padding-right: 35px;
}
.registration__input:first-child{
    margin-top: 0!important;
}
.registration-form .agreement{
    margin-top: 15px;
}
form#form-signup{
    padding-top: 60px;
}
input[readonly] {
    cursor: text;
    background-color: #fff;
}
.advertasing-contacts-table tr td:first-child{
    padding-left: 0;
}
.effect-chico img{
    max-width: 100%;
}
.other-author-advertisement .locations-container ul{
    list-style: inherit;
}
.sales-product .price{
    font-size: 27px;
    line-height: 34px;
}
.product-price{
    font-size: 31px;
}
.all-products-container ul.pagination{
    width: 100%;
    text-align: center;
}
figure img{
    max-width: 100%;
}
#sale-date-range{
    width: 300px;
}
.prod-link{
    cursor: pointer;
}
.prod-link.remove-from-elected{
    color: #f15852;
}
figure.effect-chico img{
    min-width: auto;
}
.one-advertisement figure{
    text-align: center;
    padding: 5px;
}
.one-advertisement figure img{
    max-height: 300px;
}
form#login-form, form#request-password-reset-form{
    padding-top: 40px;
}
.advertisement-complaint-one-checkbox{
    margin-left: -15px;
}
/*.filter-accordion .company-in-map:after{
    left: 25px;
}*/
label{
    margin-bottom: -5px!important;
}
.filter-accordion .panel-default .panel-heading p {
    margin: 0 0 0px 10px;
}
.company-search .filter-accordion .dialog__search-input{
    height: 42px;
    background-position: 98% 6px;
}
.company-search .filter-accordion .company-in-map{
    margin-top: 0;
    padding: 7.5px 30px;
}
.company-search .field-companysearch-name .select2-container--krajee .select2-selection--single{
    height: 42px!important;
    padding: 10px 24px 6px 12px!important;
}
.company-search .field-companysearch-name .select2-container--krajee .select2-selection--single .select2-selection__arrow{
    height: 40px!important;
}
.btn-right{
    float: right;
}
.company-search .btn-reset{
    background-color: white;
    color: inherit;
}
.rating-company .view-product {
    padding: 25px 15px;
}
a.link-underline{
    font-size: inherit;
    color: #53a424;
}
.ap-form-location #error-city_id, .ap-form-location #error-address{
    width: 50%;
    margin: 0;
}
.ap-form-location #error-city_id{
    float: left;
}
.ap-form-location #error-address{
    float: right;
}
#rubrics-container{
    margin-top: 30px;
}
.extra-menu li {
    margin-right: 78px;
}
#advertisements-form .one-row label{
    font-size: 18px;
    margin-left: 0;
}
#advertisements-form .reset-filter a{
    background: white;
    color: black;
}
#advertisements-form .total-count{
    text-align: right; color: #000000; font-size: 44px;
}
#advertisements-form label{
    margin-bottom: 0px!important;
}
.all-products-container .rating-container{
    font-size: 1.6em;
}
a.standart-link{
    cursor: pointer;
}
.all-products-container .sales-product .change-elected{
    display: block;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
}
.one-product-container .prod-link.change-elected{
    display: block;
    width: 100%;

}
.one-product-container .col-sm-4.prod-link1 a, .one-product-container .col-sm-4.prod-link2 a, .one-product-container .col-sm-4.prod-link3 a{
    line-height: 19px;
}
.one-product-container .norm-line .rating-container{
    width: 110px;
    float: left;
    font-size: 2.5em;
}
.another-product a.prod-link.change-elected, .similar-products a.prod-link.change-elected, .look-product a.prod-link.change-elected{
    font-size: 16px;
    line-height: 18px;
}
.another-product .rating-container, .similar-products .rating-container, .look-product .rating-container{
    font-size: 2em;
}
.one-company-page .rating-container{
    font-size: 1.5em;
}
.subsidiary-form label{
    font-weight: normal;
}
.subsidiary-form .form-modal-title{
    margin-bottom: 5px;
}
.one-company-page ul.pagination{
    display: block;
    text-align: center;
}
footer .widgets .one-block{
    margin-bottom: 10px;
}
footer .widgets ul.nav-pills li a{
    font-size: 12px;
    padding: 12px 15px!important;
}
footer .widgets ul.nav-pills li.active a{
    margin-top: 0!important;
}
a.btn-green{
    cursor: pointer!important;
}
.one-product-container .col-sm-10.norm-line .rating-container{
    font-size: 2.1em;
}
.elevators-map-container .left-filters input[type=number], .elevators-map-container #from_location{
    height: 34px;
    line-height: 1.428571429;
    padding: 6px 24px 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    outline: 0;
}
.elevators-map-container .left-filters h3{
    margin-top: 5px;
}
.elevators-map-container .left-filters h3:first-child{
    margin-top: 35px;
}
.elevators-map-container .marker-title{
    font-size: 16px;
    font-weight: bold;
}
.sale-form select {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.one-company-block .contact-info div, .sales-product .location p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#company-block .bgg p{
    font-size: 18px;
}
#choose-measurement-sale option.item{
    display: none;
}
#choose-measurement-sale option.active{
    display: block;
}

.sale input[type=checkbox] {
    display: block !important;
}
table.products-table{
    background: white;
}
.cabinet-products .advertisement-search input[type=text]{
    height: 34px;
    border-radius: 4px;
}
.cabinet-products .advertisement-search .glyphicon.glyphicon-calendar, .cabinet-products .advertisement-search .glyphicon.glyphicon-remove{
    font-size: 18px!important;
    top: 3px!important;
}
.cabinet-products .advertisement-search .input-group-addon{
    padding: 0!important;
}
.cabinet-products .advertisement-search .input-group-addon.kv-field-separator, .cabinet-products .advertisement-search .input-group-addon.kv-date-remove{
    padding: 4px 7px!important;
}
.cabinet-products .advertisement-search .input-daterange input{
    padding: 0!important;
    text-align: center!important;
}
.cabinet-products .advertisement-search .input-daterange input{
    border-radius: 0!important;
}
.cabinet-products .advertisement-search .input-daterange input:first-child{
    border-radius: 4px 0 0 4px!important;
}
.cabinet-products table.products-table tr td:last-child a{
    text-decoration: none;
}


.cabinet-sidebar > .panel.panel-default{
    border-radius: 0;
    margin-top: 0;
}
.cabinet-sidebar > .panel.panel-default.active, .cabinet-sidebar > .panel.panel-default ul li.panel-collapse__link-block.active{
    background: #6daf48;
}
.cabinet-edit-product .advertisement-form input[type=text], .cabinet-edit-product .advertisement-form input[type=number]{
    height: 34px;
    line-height: 1.428571429;
    padding: 6px 24px 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    outline: 0;
}
.cabinet-edit-product .advertisement-form input[type=number]{
    padding-right: 10px;
}
.cabinet-edit-product .advertisement-form .input-group-addon{
    padding: 0!important;
}
.cabinet-edit-product .advertisement-form .input-group-addon.kv-date-calendar, .cabinet-edit-product .advertisement-form .input-group-addon.kv-date-remove{
    padding: 3px 7px!important;
}
.cabinet-edit-product .advertisement-form .input-group-addon.kv-date-calendar{
    border-radius: 0 4px 4px 0;
}
.cabinet-edit-product .advertisement-form #advertisementform-active_to{
    border-radius: 4px 0 0 4px;
}
.cabinet-edit-product .advertisement-form textarea{
    resize: none;
    line-height: 1.428571429;
    padding: 6px 24px 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    outline: 0;
}
.cabinet-edit-product .advertisement-form .ap-form-contacts{
    margin-bottom: 20px;
}
.cabinet-edit-product .advertisement-form .ap-form-contacts label{
    font-weight: normal;
}
.cabinet-edit-product .nav.nav-tabs{
    display: block;
    margin-top: 20px;
}
.cabinet-edit-product .nav.nav-tabs li.active a{
    color: #4fa41e!important;
}
.cabinet-edit-product-images .one-image{
    text-align: center;
    padding: 15px;
}
.cabinet-edit-product-images .one-image .remove-image{
    display: block;
    margin-top: 10px;
}
.cabinet-edit-product-images .one-image .remove-image{
    color: #a94442;
}
.cabinet-edit-product-images .one-image .remove-image .glyphicon{
    top: 3px;
}
figure.effect-chico{
    height:auto;
}
.sidebar-grey .panel-body input[type=checkbox]+label {
    display: block;
}
.self-advertisement-image-block table td{
    position: relative;
}
.self-advertisement-image-block div.remove-image{
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    cursor: pointer;
}
.self-advertisement-image-block div.remove-image:hover{
    color: #a94442;
}
.btn-min{
    font-size: 15px;
    padding: 7px 20px;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    color: #fff;
    text-align: center;
    background-color: #71bf44;
    margin-top: 5px;
}
.export-to-csv .dropdown{
    display: inline-block;

}
.sale-block-content{
    margin-top: 0px;
}
ul.sale-ul-tab{
    margin-bottom: -5px;
    margin-top: 10px;
}
ul.sale-ul-tab li a{
    vertical-align: middle;
    line-height: 56px;
}
ul.sale-ul-tab li.active a, ul.sale-ul-tab li.active a:focus, ul.sale-ul-tab li.active a:hover{
    background-color: rgba(64, 79, 71, 0.61);
}
.news-search form#search-news-form div{
    padding-right: 80px;
    position: relative;
}
.news-search form#search-news-form div input[type=text]{
    background-image: none;
}
.news-search form#search-news-form div button{
    position: absolute;
    display: block;
    float: right;
    right: 0;
    top: 30px;
    height: 42px;
    width: 74px;
    background: white;
    border: 1px solid #c0c3bf;
}
.elevator-page .one-elevator-contact{
    margin: 15px 0;
}
.elevator-page .one-elevator-contact:first-child{
    margin-top: 0;
}
.elevator-page .one-elevator-contact .one-elevator-contact-title{
    font-weight: bold;
}
.elevator-block .location {
    height: 55px;
    line-height: 20px;
}
.elevator-block .location > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.company-search .select2-container--krajee .select2-selection--single{
    height: 42px;
    line-height: 2em;
}
.company-search .select2-container--krajee .select2-selection--single .select2-selection__arrow{
    height: 40px;
}
.extra-menu li {
    margin-right: 65px;
}
.extra-menu .dropdown-menu {
    left: -140px;
}
.extra-menu li .dropdown-toggle::after {
    bottom: -20px;
}
.extra-menu .caret {
    display: none;
}
.latest-news-item a{
    margin-bottom: 0;
    color: #333;
    text-decoration: none;
}
.category-one-news-title a{
    font-size: 19px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.category-news-container .category-item:nth-child(odd){
    background: #ebf0ee;
}
.sub-accordion .accordion-heading a {
    color: #fff;
    margin-left: 21px;
    text-decoration: none;
}
.sub-accordion .accordion-inner {
    margin-left: 30px;
}
.sidebar-light-grey-input{
    background-color: #f5f5f5;
    margin-bottom: 0;
    padding-bottom: 0;
}
.events-container .pagination{
    width: 100%;
    text-align: center;
}
.events-container .list-view .list-view:nth-child(even) .one-event-block{
    background-color: #f0f0f0;
}
.dialog-message-form form#dialog-form{
    position: relative;
    padding-right: 125px;
}
.dialog-message-form form#dialog-form button[type=submit]{
    position: absolute;right: 0;top: 135px;
}
.dialog-message-form form#dialog-form textarea{
    resize: none; height: 150px;
}
figure.effect-chico:hover img{
    transform: translateX(-50%) scale(1.1);
    -webkit-transform: translateX(-50%) scale(1.1);
}
.open-table-price {
    color: #000;
    display: block;
    text-align: center;
}
.modal-body #rubrics-container{
    margin-top: 0px;
}
.one-company-block{
    height: 1px;
}
.one-company-block.sales-product .col-sm-4, .sales-product-image .col-sm-4{
    height: 100%;
}
.one-company-block.sales-product .col-sm-4 a, .sales-product-image .col-sm-4 a{
    height: 100%;
    display: block;
}
.one-company-block figure.effect-chico, .sales-product-image figure.effect-chico{
    height: 100%;
    padding: 30px;
}

.rating-company .sales-product figure.effect-chico {
    height: 200px;
}

.one-company-block figure.effect-chico img, .sales-product-image figure.effect-chico img{
    display: inline-block;
    position: relative;
    min-height: 1px;
    left: 50%;
    top: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.one-company-block figure.effect-chico:hover img, .sales-product-image figure.effect-chico:hover img {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 50%;

    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.btn-green-small{
    height: 45px;
    float: left;
    font-size:15px;
    padding:10px 30px;
    display:inline-block;
    text-transform:uppercase;
    border:none;color:#fff;
    text-align:center;
    background-color:#71bf44;
}

.btn-green{
    font-size:19px;
    padding:10px 30px;
    display:inline-block;
    text-transform:uppercase;
    border:none;color:#fff;
    text-align:center;
    background-color:#71bf44;
}
.b-load-file {
    max-width: 180px;
    width: 100%;
    margin: 30px auto;
}
/*.btn-green{*/
    /*padding:15px 30px;*/
/*}*/
.btn-green:focus,.btn-green:hover{
    color:#fff;
}
.wheat-quality-form .page-form .col-sm-6 .form-group, .wheat-quality-form .page-form .col-sm-6 .form-group .help-block{
    margin-bottom: 0;
}
.wheat-quality-form .page-form .col-sm-6 .form-group .help-block{
    margin-top: 0;
}
.wheat-quality{
    padding-bottom: 30px;
}
.wheat-quality-form input[type=number]{
    height: 42px;
}
.container.logistic-calc-auto #map{
    height: 500px;
    position: relative;
    margin-top: 25px;
}
.container.logistic-calc-auto .logistic-calc-data{
    margin-top: 25px;
}
.container.logistic-calc-auto{
    padding-bottom: 25px;
}
#chartdiv {
    width: 100%;
    height: 500px;
}
#price-search #chartdiv tspan{
    font-size: 13px !important;
    font-weight: 400;

}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop {
    z-index: 10;
}
.filter-map-price {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}
#map-price-company p{
    font-size: 13px!important;
}

#form-accounting input{
    border-radius: 0;
}
#widget-block-header div.item {
    float: left;
}
footer .item > a{
    font-size: 22px;
    line-height: 20px;
    display: block;
    min-height: 40px;
    color: #333;
    text-decoration: none;
}
.filter-show-custom{
    margin-top: 15px;
}
#map-price-company #map{
    margin: 15px;
    height: 500px;
    width: 900px;
}
input[type=email], input[type=password] {
    padding-left: 20px;
    height: 42px;
}
.logistic-calc-buttons button.btn-green, .logistic-calc-buttons a.btn-white{
    font-size: 18px;
}
.green-header-menu-container ul.nav li ul li{
    display: block;
}
#logo-text-ru, #logo-text-ua{
    color: #b0b3b6;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.7px;
}
#logo-text-ua{
    letter-spacing: 3.9px;
}
.description-seo .container{
    height: auto;
    overflow: auto;
}
.description-seo .container.seo-hidden-text{
    height: 150px;
    overflow: hidden;
}
.sales-product{
    font-size: 14px;
    box-sizing: border-box;
}
.sales-product .weight{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 24px;
    height: 24px;
}
.sales-product .prod-title{
    display: block;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 }
.sales-product .prod-phones{
    display: block;
    height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sales-product a.green-link{
    font-size: 15px;
    color: #53a424;
}
.prod-owner{
    text-decoration: none;
    font-size: 14px;
    color: #060606;
    text-align: left;
    margin-top: 17px;
    display: block;
    width: 100%;
    height: 100%;
}
.prod-owner img{
    margin-bottom: 13px;
}
.location{
    margin-bottom: 10px;
}
.sales-product .prod-text{
    height: 32px; line-height: 16px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; margin-bottom: 18px;
}
.logo-container{
    float: left;
    width: 270px;
}
.logo-container a{
    text-decoration: none;
}
.sales-product-watched{
    height: 320px;
}
.sales-product-watched a{
     text-align: inherit;
}
.sales-product-watched a p{
    text-align: center;
}
.sales-product-watched figure.effect-chico{
    height: 200px;
    width: 100%;
    max-height: 200px;
}

.sales-product-watched figure.effect-chico img{
    object-fit: contain;
    min-height: auto;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.navigation-link-wrapper{
    display: inline-block;
    vertical-align: top;
}
.navigation-link-wrapper .navigation__link{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
@media (max-width: 1280px) {
    .logo-container{
        margin-left: 25px;
    }
}
@media (max-width: 1150px) {
    .navigation__link, .navigation__prod{
        margin-left: 15px;
    }
    .subscription{
        width: 28%;
    }
}
@media (max-width: 1024px) {
    .rating-company .sales-product {
        height: auto;
    }

    .list-services .item ul li{
        font-size: 15px;
    }
    .list-services .btn-green{
        font-size: 15px;
    }
    .list-services h5{
        font-size: 20px;
    }
    .list-services .item{
        max-width: inherit!important;
        width: 50%!important;
    }
    /*.home-start{*/
        /*background-image: url("/images/main-bg-mob.jpg");*/
        /*-webkit-background-size: cover;*/
        /*background-size: cover;*/
    /*}*/
    .extra-menu .dropdown-menu{
        left: 0;
    }
    .logo-container{
        width: 170px;
    }
    #logo-text-ru{
        font-size: 9px;
        letter-spacing: 0.7px;
    }
    #logo-text-ua{
        font-size: 10px;
        letter-spacing: 0.8px;
    }
    .container.subscription{
        width: 95%;
        margin-bottom: 20px;
    }
    .navigation{
        margin-top: 30px;
        float: right;
    }

}
@media (max-width: 767px) {
    .list-services .item{
        width: 100%!important;
    }
    ul.sale-ul-tab li a{
        line-height: normal;
    }
    .home-start h1{
        font-size: 36px;
    }
    .logo-container{
        width: 270px;
    }
    #logo-text-ru{
        font-size: 12px;
        letter-spacing: 2.7px;
    }
    #logo-text-ua{
        font-size: 12px;
        letter-spacing: 3.9px;
    }
    .sales-product {
        padding-bottom: 20px;
        width: 320px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
        display: block;
    }
    .sales-product.sales-product-watched{
        width: 48%;
        float: left;
    }
    .sales-product.sales-product-watched figure.effect-chico img{
        min-width: 100%;
    }
    .sales-product .company{
        display: none;
    }
    .sales-product .prod-date{
        display: none;
    }
    .sales-product .location{
        display: none;
    }
    .sales-product .prod-phones{
        display: none;
    }
    .sales-product .prod-text{
        display: none;
    }
    .one-company-block figure.effect-chico, .sales-product-image figure.effect-chico{
        padding: 0;
        text-align: start;
    }
    .sales-product a{
        font-size: 16px;
    }
    .sales-product .price{
        font-size: 18px;
        display: inline-block;
    }
    .sales-product .prod-title{
        width: 100%;
        height: 100%;
    }
    .sales-product-image.product-item-mob{
        position: relative;
        z-index: 10;
    }

}
@media (max-width: 480px){
   .sales-product{
       width: 100%;
   }
    .sales-product.sales-product-watched{
        width: 100%;
    }
    footer .social a{
        text-decoration: none;
    }
}
@media (max-width: 768px){
    .nav>li>a{
        padding: 10px 15px;
    }
}
.btn-min {
    padding: 7px 14px;
    font-size: 15px;
    margin-top: -1px;
}
.icon-block-price  span{
    font-size: 19px;
    color: #71bf44;
    cursor: pointer;
}
.icon-block-price span.active {
    color: rgba(113, 191, 68, 0.59);;
}
h3.title-item-block {
    font-size: 16px;
    text-align: center;
    margin-top: -15px;
}
.item-block-price a{
    text-decoration: none;
}
.item-block-price {
    text-align: center;
    padding: 5px;
}
.item-block-price a {
    display: block;
    height: 100%;
    border: 1px solid #b5b5b5;
}
 .new-price-top.p-red {
    color: red;
}

 .new-price-top {
    position: relative;
    top: -10px;
    right: 0;
    font-size: 10px;
    font-family: Geometria Light;
}
#feedback-block .rating, #feedback-block .rating .glyphicon {
    font-size: 21px;
}

.rate .bg-full .description {
    min-height: 150px;
    max-height: 160px;
    overflow: hidden;
}


.home-start h1 {
    color: #fff;
}
.bg-full .price {
    font-size: 19px !important;
}
.branches-table tr td.input{
    padding-right: 0;
    padding-left: 0;
}
.branches-table tr td.input input{
    border: none;
}
.branches-table .form-group{
    margin-bottom: 0;
}
 .branches-table .help-block{
     margin: 0;  
 }
.branches-table thead.thead-green tr{
     background-color: #7cc652;
 }
.thead-green{
    background-color: #7cc652;
}
.pink-color{
    color: #ed1a47;
}
.branches-table tr td.thead-green{
    border-color: #5c953c;
}
.branches-table thead.thead-green td{
        border-color: #5c953c;
}
.elevators-map-container .elevator-block .info-block {
    padding-right: 0px;
}
.price-page a.send-user .glyphicon {
    font-size: 29px;
}
#selectedPrice .white-row {
    background-color: #fff;
}
#selectedPrice  .company-list select{
    width: 100%;
    border-radius: 0px;
    border-color: #fff;
}
#selectedPrice  td.selected{
    padding-right: 0px;
    padding-left: 0px;
}
#form-company-profile .item-rubric label{
    font-size: 13px;
    padding: 0px;
}
.elevators-map-container .marker-title {
    margin-top: 15px !important;
}

#form-company-profile .item-rubric  p.fs16 label {
    font-size: 16px;
    font-weight: bold;
}
.btn-reset {
    margin-right: 20px;
}
.logo img {
    width: 270px;
}
.category-news-container .category-item__text {
    text-align: left;
}
a.change-elected{
    font-weight: 300!important;
}
footer .container {
    position: relative;
}
footer img.dk-logo {
    width: 22%;
}
footer a.link-dk {
    position: absolute;
    right: 0;
    top: 0;
}
.price-cart .sales-product{
    max-height: 240px;
}
@media (max-width: 767px) {
    .copyright p {
        text-align: left;
        width: 60%;
        padding-left: 10px;
    }
    .price-cart .sales-product{
        max-height: none;
    }
    figure.effect-chico img{
        left: auto;
        transform: translateX(0);
        min-width: inherit;
        min-height: inherit;
    }
    .navigation{
        margin-top: 0;
    }
}
@media (max-width: 768px) {
    .logistic-calc{
        width: 100%;
    }
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
#map-price-company #map {
    width: 100%;
}

.notification-default-index table tr.new {
    background-color: #f7fbc3;
}

#company-block .bgg ul{
    list-style: disc;
    margin-left: 20px;

}
#company-block .bgg p {
    text-align: left;
}
#form-company-profile ul, .full-news-item ul, .event-info ul{
    list-style: disc;
}
.navbar-nav{
    margin-top: -10px;
}
.extra-menu li{
    margin-top: 10px;
}

#video{
    height: 100%;
    object-fit: cover;
}
.filter-result .count-company {
    font-size: 35px!important;
    font-weight: 600;
}
.block-input-search {
    margin-top: 20px;
}
#common-search .block-input-search{
    position: relative;
}

#common-search .block-input-search  button.send-off {
    position: absolute;
    right: 0;
    top: 0;
    background: #ebf0ee;
    border: 1px solid #ccc;
    height: 42px;
    width: 42px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    color: #71bf44;
}
@media (width: 768px){
    .rating-company .col-sm-9 {
        width: 100%;
    }
    .rating-company .sales-product.one-company-block {
        min-height: 200px;
        max-height: 200px;
    }
    .col-sm-9 {
        width: 100%;
    }
}
.container-fluid .alert.radius-null {
    border-radius: 2px!important;
    margin-bottom: -27px;
}
.form-control[readonly] {
    background-color: #fff!important;
}

#video{
    font-family: 'object-fit: cover;';
}
.sales-product .product-type {

    text-transform: capitalize;
}
.product-price small{
    font-size: 16px;
    font-weight: 300;
}
.sales-product small {
    font-size: 15px;
}
.upload-active{
    display: none;
}
.upload-not-active{
    display: inline;
}
.open-upload-active{
    display: inline;
}
.open-upload-not-active{
    display: none;
}
.b-panel__title a{
    font: 18px "Helvetica", sans-serif;
    color: #434444;
    text-decoration: none;
}
.b-panel__text a{
    color: #434444;
    text-decoration: none;
}
.b-panel__flex-center a{
    color: #434444;
    text-decoration: none;
}
.b-panel__cell-right a{
    color: #434444;
    text-decoration: none;
}
.b-prise-result__text a{
    color: #434444;
    text-decoration: none;
}
.b-panel__title a b {
    font: 18px "Helvetica Bold", sans-serif;
}

.b-prise-result__text .price-description{
    text-align: left;
    font-size: 14px;
}

@media (min-width: 768px){
    .b-panel__flex .col-sm-1{
        width: 15%;
    }
    .b-panel__flex .col-sm-8{
        width: 60%;
    }
}


