	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/07/2017 11:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/new-fonts/Flaticon.eot");
  src: url("../fonts/new-fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/new-fonts/Flaticon.woff") format("woff"),
       url("../fonts/new-fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/new-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/new-fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}
.flaticon-twitter-logo-button:before { content: "\f109"; }
.flaticon-instagram-logo:before { content: "\f10a"; }