.cp-footer {
    background-color: #404f47!important;
    padding-bottom: 15px;
    padding-top: 15px
}

.cp-footer img {
    max-width: 40px
}

.cp-footer .socials {
    display: inline
}

.cp-footer .socials a {
    margin-right: 20px
}

.cp-footer .support {
    display: inline-block;
    width: 165px;
    float: right
}

.cp-footer .support__img {
    display: inline
}

.cp-footer .support__link {
    display: inline;
    font-size: 20px
}

.cp-footer .support__link:hover {
    color: #6cc734
}

.cp-footer__copyright {
    margin-left: 200px;
    font-size: 13px;
    color: #fff
}
