.db {
    display: block
}

.ib, .table-icon {
    display: inline-block
}

.fl {
    float: left
}

.fr {
    float: right
}

.p0 {
    padding: 0
}

.pl15 {
    padding-left: 15px
}

.pr15 {
    padding-right: 35px
}

.pl35 {
    padding-left: 35px
}

.pr35 {
    padding-right: 15px
}

.m0 {
    margin: 0
}

.ml10 {
    margin-left: 10px
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.mt25 {
    margin-top: 25px
}

.mb25 {
    margin-bottom: 25px
}

.mt30 {
    margin-top: 30px
}

.mb30 {
    margin-bottom: 30px
}

.mt35 {
    margin-top: 35px
}

.mb35 {
    margin-bottom: 35px
}

.instruments-block-inactive-message-block__text, .mt40 {
    margin-top: 40px
}

.instruments-block-inactive-message-block__text, .mb40 {
    margin-bottom: 40px
}

.w200 {
    width: 200px
}

.mtb50 {
    margin: 50px 0
}

.bold {
    font-weight: 700
}

.fs15, input[type=checkbox]+label {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.black {
    color: #000
}

.tdn {
    text-decoration: none
}

a {
    color: #71bf44;
    text-decoration: underline
}

input[type=text] {
    padding-left: 20px;
    height: 42px
}

input[type=checkbox]+label {
    font-weight: 400;
    padding-right: 10px
}

input[type=checkbox].inline-checkbox+label {
    padding-left: 10px
}

input[type=checkbox].inline-checkbox+label:before {
    margin: 5px 10px 0 -21px
}

td, th {
    padding: 0 10px
}

.instruments-block-item, .transition {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.important-info-link__item, .instruments-block-inactive-message-block, .vac {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.label-check:before {
    content: "";
    content-display: inline-block;
    content-height: 11px;
    content-width: 11px;
    content-margin: 5px 10px 0 0;
    content-background-image: url(/images/checkbox.jpg);
    content-background-repeat: no-repeat
}

.custom-check {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 22px;
    line-height: 1
}

.custom-check:before {
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    margin: 5px 10px 0 0;
    background-image: url(../images/checkbox.jpg);
    background-repeat: no-repeat
}

.instruments-block-inactive-message-block, .tac {
    text-align: center
}

.all-select {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

.cp-title {
    font-family: Helvetica Bold;
    text-transform: uppercase;
    font-size: 23px;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.slct-w50-ib {
    width: 50%!important;
    display: inline-block!important
}

.slct-bn {
    border: none
}

.serv-link {
    font-size: 10px;
    padding-bottom: 5px
}

.branches-table .prod-link1, .branches-table .prod-link3 {
    padding: 0 5px 5px
}

.branches-table .prod-link2 {
    padding: 0 0 5px
}

.centered-block {
    display: block;
    margin: 0 auto
}

.text_grey {
    color: #b1b3b0
}

.yellow_light_bg {
    background-color: #f7fbc3
}

.green_bg {
    background-color: #71bf44;
    color: #fff
}

.toggle_block {
    padding: 30px 55px
}

.placeholder {
    padding-left: 20px
}

.placeholder::-webkit-input-placeholder {
    color: #000
}

.placeholder:-moz-placeholder, .placeholder::-moz-placeholder {
    color: #000
}

.placeholder:-ms-input-placeholder {
    color: #000
}

.important-info {
    background-color: #f7fbc3;
    padding: 25px 70px;
    font-size: 15px
}

.important-info__title {
    color: #000
}

.important-info__text {
    line-height: 15px;
    margin-top: -3px
}

.important-info__i {
    position: absolute;
    top: -15px;
    left: 15px
}

.important-info__close {
    position: absolute;
    top: -9px;
    right: 15px;
    cursor: pointer
}

.important-info__hide {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer
}

.important-info-link {
    display: block;
    padding: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #71bf44;
    text-align: center;
    min-height: 77px;
    position: relative
}

.important-info-link__item {
    padding: 15px
}

.important-info-link:hover {
    color: #fff
}

.instruments-block {
    background-color: #89ca64;
    color: #fff;
    position: relative
}

.instruments-block-inactive {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(219, 221, 245, .7)
}

.instruments-block-inactive-message-block {
    height: auto;
    width: 500px;
    background-color: #fff;
    margin: 0 auto
}

.instruments-block-inactive-message-block__text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase
}

.instruments-block-inactive-message-block__button {
    margin-bottom: 30px
}

.instruments-block-title {
    color: #000;
    font-size: 24px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase
}

.instruments-block-item {
    position: relative;
    color: #fff;
    text-align: center;
    min-height: 206px;
    border-top: 1px solid #9dd37e;
    border-right: 1px solid #9dd37e;
    text-decoration: none;
    cursor: pointer
}

.instruments-block-item:hover {
    background-color: #71bf44;
    color: #fff
}

.hiddens {
    display: none
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s
}

.table-icon {
    background-image: url(../images/table-icons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px
}

.table-icon.icon__calc {
    background-position: 0
}

.table-icon.icon__thumb-down {
    background-position: -25px 0
}

.table-icon.icon__thumb-up {
    background-position: -47px 0
}

.table-icon.icon__delete {
    background-position: -71px 0
}

.btn-center {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.cp-header {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 40px 0
}

.cp-header__logo {
    display: inline-block;
    margin-top: -27px;
}

.subscription {
    display: inline-block;
    margin-left: 40px;
    border-right: 1px solid #acb7b0;
    width: 38%;

    position: relative;
    top: 10px;
}
.subscription.none .subscription-info {
    margin-top: 17px;
}
.subscription__message {
    color: #f25f5f;
    margin-right: 60px
}

.subscription-info {
    display: block;
    float: right;
    position: relative;
    margin-top: -40px;
    margin-right: 20px;
    cursor: pointer
}

.subscription__extend:hover {
    color: #7ac142
}

.subscription__info {
    background-color: #f25f5f;
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 100%;
    padding-top: 6px
}

.subscription__info img {
    margin: 0 auto;
    display: block;
    position: relative
}

.subscription__info-number {
    background: #7d8791;
    border-radius: 50%;
    padding: 2px;
    min-width: 20px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    color: #fff;
    float: right;
    position: absolute;
    top: -5px;
    left: 20px
}

.subscription__arrow {
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer
}

.navigation {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.navigation-mail {
    display: inline-block;
    margin-top: -20px
}

.navigation-mail__number {
    background-color: #7ac142;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 2px;
    min-width: 25px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    color: #fff;
    float: right;
    position: absolute;
    top: -10px;
    left: 50px
}

.navigation__link, .navigation__prod {
    margin-left: 50px
}

.navigation__link:hover {
    color: #7ac142
}

.navigation__language {
    padding: 10px;
    border: 1px solid #7ac142;
    outline: none;
    margin-left: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
