@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/*b-price*/

.b-prise-result {
    padding: 15px 0;
}
.b-prise-result__info {
    padding: 0 15px;
    text-align: center;
    margin-bottom: 10px;
}
.b-prise-result__title {
    font: 18px "Helvetica Bold", sans-serif;
    color: #333333;
    margin-bottom: 5px;
}
.b-prise-result__date {
    font: 15px "Helvetica Medium", sans-serif;
    color: #666666;
    margin-bottom: 6px;
}
.b-prise-result__date>span {
    font: 15px "Helvetica Medium", sans-serif;
    color: #666666;
}
.b-prise-result__date-line {
    border-right: 2px solid #666666;
    margin-right: 5px;
    padding-right: 10px;
}
.b-prise-result__text {
    font: 15px/19px "Helvetica Medium", sans-serif;
    color: #333333;
}
.b-prise-result_btn {
    font: 15px "Helvetica Medium", sans-serif;
    padding: 15px;
}
.b-prise-result_btn:hover,
.b-prise-result_btn:focus {
    text-decoration: none;
}
.b-prise-profile {
    padding-top: 25px;
    margin-bottom: 25px;
}
.b-prise-profile__tab-nav.b-tab__nav.nav {
    margin: 0 0 5px 0;
}
.b-prise-profile__title {
    font: 19px "Helvetica Bold", sans-serif;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.b-prise-profile__btn-wrap {
    padding-top: 15px;
}
.b-prise-profile__btn.b-btn {
    color: #fff;
    padding: 7px 30px 10px 30px;
    margin-bottom: 0;
}
.b-prise-profile__btn.b-btn > .glyphicon {
    position: relative;
    top: 5px;
}
.b-price__cancel {
    text-align: center;
    margin-bottom: 10px;
}



/*b-load*/
.b-load-file-small {
    max-width: 420px;
    width: 100%;
    margin: 0px auto;
}

.b-load-file__load-btn {
    cursor: pointer;
    font: 18px/24px "Helvetica Medium", sans-serif;
    padding: 25px;
    margin: 0;
}
.b-load-file__load-plus {
    font: 18px "Helvetica Medium", sans-serif;
    display: block;
    margin-bottom: 5px;
}

/*b-head*/
.b-head {
    width: 100%;
    padding: 15px 15px 10px 15px;
    background: #d9e1dd;
    font: 18px "Helvetica Bold", sans-serif;
    color: #404f47;
    text-transform: uppercase;
    text-align: center;
}
.b-head.b-head_margintb {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*b-table__list*/
.b-table__list {
    margin-bottom: 15px;
}

/*b-panel*/

.b-panel {
    padding: 10px 0 15px;
}
.b-panel:nth-child(even) {
    background: #d9e1dd;
}
.b-panel:nth-child(odd) {
    background: #fff;
}
.b-panel:nth-child(odd) .b-btn {
    background: #d9e1dd;
}
.b-panel:nth-child(even) .b-btn {
    background: #fff;
}
.b-panel:nth-child(odd) .b-btn:hover, .b-panel:nth-child(odd) .b-btn:focus {
    background: #fff;
}
.b-panel:nth-child(even) .b-btn:hover, .b-panel:nth-child(odd) .b-btn:focus {
    background: #d9e1dd;
}
.b-panel__info {
    padding: 15px 15px 5px 15px;
}
.b-panel__title {
    font: 18px "Helvetica Bold", sans-serif;
    color: #333333;
    margin-bottom: 8px;
}

.b-panel__date {
    font: 15px "Helvetica Medium", sans-serif;
    color: #666666;
    margin-bottom: 13px;
}
.b-panel__date>span {
    font: 15px "Helvetica Medium", sans-serif;
    color: #666666;
}
.b-panel__date-line {
    border-right: 2px solid #666666;
    margin-right: 5px;
    padding-right: 10px;
}
.b-panel__text {
    font: 15px/19px "Helvetica Medium", sans-serif;
    color: #333333;
}
.b-panel__text.b-panel__text_max {
    max-width: 590px;
}
.b-panel__buttons {
    padding: 0 11px;
}
.b-panel__cell-right {
    font: 18px/25px "Helvetica Bold", sans-serif;
    text-align: left;
    color: #333333;
    max-width: 164px;
}
@media (min-width: 768px) {
    .b-panel__cell-right {
        margin: 0 auto;
    }
}
.b-panel__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.b-panel__flex-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}


/*b-btn*/
.b-btn {
    font: 15px/25px "Helvetica Medium", sans-serif;
    border-radius: 0;
    border: 1px solid #bdc0bc;
    margin: 0 7px 15px 5px;
    color: #333333;
    text-transform: uppercase;
    transition: all .3s;
}

.b-btn:hover,
.b-btn:focus {
    transition: all .3s;
}
.b-btn.b-btn_dark {
    border: 0px;
    color: #fff;
    background: #666;
}
.b-btn.b-btn_dark:hover,
.b-btn.b-btn_dark:focus {
    color: #666;
    background: #fff;
}
.b-btn > span {
    display: inline-block;
    padding-right: 12px;
}
.b-btn > span:before {
    font-size: 22px;
}

/*b-warning*/
.b-warning {
    position: relative;
    padding: 0 15px 0 70px;
}
.b-warning__info-icon {
    transform: rotate(180deg);
    top: 6px;
    position: absolute;
    left: 18px;
}
.b-warning__title {
    font: 15px/19px "Helvetica Bold", sans-serif;
    color: #333;
    margin-bottom: 5px;
}
.b-warning__info {
    font: 15px/19px "Helvetica Medium", sans-serif;
    color: #333;
    margin-bottom: 5px;
}

/*b-title*/
.b-title {
    font: 18px "Helvetica Bold", sans-serif;
    color: #333333;
}
.b-subtitle {
    font: 15px "Helvetica Medium", sans-serif;
    color: #333333;
}

/*b-list-num*/
.b-list-num {
    padding-left: 18px;
    margin-bottom: 25px;
}
.b-list-num li {
    font: 15px "Helvetica Bold", sans-serif;
    color: #333333;
    margin-bottom: 15px;
}
.b-list-num__text {
    font: 15px/18px "Helvetica Medium", sans-serif;
    padding-top: 10px;
    color: #333333;
}
.b-list-num__file {
    padding: 5px 0 15px 0;
}
.b-list-num__load {
    background: #f0f0f0;
    text-transform: inherit;
    margin: 0;
    padding: 8px 25px 10px 25px;
}
.b-list-num__load-info {
    display: inline-block;
}
.b-list-num__load-warning {
    margin: 0;
    padding: 10px;
    position: relative;
    top: 3px;
}

/*b-info-list*/
.b-info-list {
    padding: 0;
    margin: 0px 0px 30px 0px;;
    text-align: center;
}
.b-info-list li {
    font: 15px "Helvetica Medium", sans-serif;
    color: #333333;
    margin-bottom: 7px;
}

/*b-warning*/
.b-thanks {
    position: relative;
    padding: 0 15px 0 70px;
}
.b-thanks__info-icon {
    top: 3px;
    position: absolute;
    left: 16px;
}
.b-thanks__title {
    font: 18px/19px "Helvetica Bold", sans-serif;
    color: #333;
    margin-bottom: 5px;
}
.b-thanks__info {
    font: 15px/19px "Helvetica Medium", sans-serif;
    color: #333;
    margin-bottom: 5px;
}

/*b-search*/
.b-search__search-field.block-input-search {
    position: relative;
}
.b-search__search-field.block-input-search button.send-off {
    position: absolute;
    right: 0;
    top: 0;
    background: #ebf0ee;
    border: 1px solid #ccc;
    height: 42px;
    width: 42px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    color: #71bf44;
}

/*b-pagination*/
.b-pagination {
    text-align: center;
}

/*b-tab__nav*/
.b-tab__nav.nav {
    margin: 30px 0;
}
.ap-choose__item span {
    white-space: nowrap;
    font-size: 19px;
}

/*b-table*/
.b-table {
    margin: 0 auto;
    width: 100%;
}
.b-table tr td, .b-table tr th {
    border: 1px solid #bdc0bc;
    text-align: center;
    padding: 13px;
}
.b-table tr th {
    font: 18px "Helvetica Bold", sans-serif;
    color: #333;
}
.b-table tr td{
    font: 15px "Helvetica Medium", sans-serif;
    color: #333;
}
.b-table-container {
    overflow-y: auto;
    margin-bottom: 30px;
    padding: 0 15px;
}
.b-table-wrap {
    padding: 15px 0 0 0;

}