@font-face {
    font-family: Geometria;
    src: url(../fonts/Geometria.otf)
}

.bg-g {
    background-color: #d9e1dd
}

.db {
    display: block
}

.ib, .table-icon {
    display: inline-block
}

.fl {
    float: left
}

.fr {
    float: right
}

.p0 {
    padding: 0
}

.pb0 {
    padding-bottom: 0
}

.pl15 {
    padding-left: 15px
}

.pr15 {
    padding-right: 35px
}

.pl35 {
    padding-left: 35px
}

.pr35 {
    padding-right: 15px
}

.m0 {
    margin: 0
}

.ml10 {
    margin-left: 10px
}

.mr20 {
    margin-right: 20px
}

.mr50 {
    margin-right: 50px
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.mt10 {
    margin-top: 10px
}

.mt25 {
    margin-top: 25px
}

.mb25 {
    margin-bottom: 25px
}

.mt30 {
    margin-top: 30px
}

.mb30 {
    margin-bottom: 30px
}

.mt35 {
    margin-top: 35px
}

.mb35 {
    margin-bottom: 35px
}

.instruments-block-inactive-message-block__text, .mt40 {
    margin-top: 40px
}

.mt45 {
    margin-top: 45px
}

.instruments-block-inactive-message-block__text, .mb40 {
    margin-bottom: 40px
}

.w200 {
    width: 200px
}

.mtb25 {
    margin: 25px 0
}

.mtb50 {
    margin: 50px 0
}

.pt35 {
    padding-top: 35px
}

.pt45 {
    padding-top: 45px
}

.ptb40 {
    padding: 40px 0
}

.mw300 {
    min-width: 300px
}

.bold {
    font-weight: 700
}

.fs15, input[type=checkbox]+label {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.fs17 {
    font-size: 17px
}

.fs20 {
    font-size: 20px
}

.fw600 {
    font-weight: 600
}

.black {
    color: #000
}

.tdn {
    text-decoration: none
}

.dsb {
    display: block
}

.fw {
    width: 100%
}

a {
    color: #71bf44;
    text-decoration: underline
}

input[type=text] {
    padding-left: 20px;
    height: 42px
}

input[type=checkbox]+label {
    font-weight: 400;
    padding-right: 10px
}

input[type=checkbox].inline-checkbox+label {
    padding-left: 10px
}

input[type=checkbox].inline-checkbox+label:before {
    margin: 5px 10px 0 -21px
}

td, th {
    padding: 0 10px
}

.instruments-block-item, .transition {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.important-info-link__item, .instruments-block-inactive-message-block, .vac {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.instruments-block-inactive-message-block, .tac {
    text-align: center
}

.title {
    font-size: 19px;
    color: #000
}

.all-select {
    padding-left: 20px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

.btn-white {
    background: transparent;
    border: 1px solid #71bf44;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 19px
}

.btn-white, .btn-white:focus, .btn-white:hover {
    color: #71bf44
}

.cp-title {
    font-family: Helvetica Bold;
    text-transform: uppercase;
    font-size: 23px;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.slct-w50-ib {
    width: 50%!important;
    display: inline-block!important
}

.slct-bn {
    border: none
}

.serv-link {
    font-size: 10px;
    padding-bottom: 5px
}
.branches-table .prod-link1, .branches-table .prod-link3 {
    padding: 0 5px 5px
}

.branches-table .prod-link2 {
    padding: 0 0 5px
}

.centered-block {
    display: block;
    margin: 0 auto
}

.text_grey {
    color: #b1b3b0
}

.yellow_light_bg {
    background-color: #f7fbc3
}

.green_bg {
    background-color: #71bf44;
    color: #fff
}

.toggle_block {
    padding: 30px 55px
}

.placeholder {
    padding-left: 20px
}

.placeholder::-webkit-input-placeholder {
    color: #000
}

.placeholder:-moz-placeholder, .placeholder::-moz-placeholder {
    color: #000
}

.placeholder:-ms-input-placeholder {
    color: #000
}

.important-info {
    background-color: #f7fbc3;
    padding: 25px 70px;
    font-size: 15px
}

.important-info__title {
    color: #000
}

.important-info__text {
    line-height: 15px;
    margin-top: -3px
}

.important-info__i {
    position: absolute;
    top: -15px;
    left: 15px
}

.important-info__close {
    position: absolute;
    top: -9px;
    right: 15px;
    cursor: pointer
}

.important-info__hide {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer
}

.important-info-link {
    display: block;
    padding: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #71bf44;
    text-align: center;
    min-height: 77px;
    position: relative
}

.important-info-link__item {
    padding: 15px
}

.important-info-link:hover {
    color: #fff
}

.instruments-block {
    background-color: #89ca64;
    color: #fff;
    position: relative
}

.instruments-block-inactive {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(219, 221, 245, .7)
}

.instruments-block-inactive-message-block {
    height: auto;
    width: 500px;
    background-color: #fff;
    margin: 0 auto
}

.instruments-block-inactive-message-block__text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase
}

.instruments-block-inactive-message-block__button {
    margin-bottom: 30px
}

.instruments-block-title {
    color: #000;
    font-size: 24px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase
}

.instruments-block-item {
    position: relative;
    color: #fff;
    text-align: center;
    min-height: 206px;
    border-top: 1px solid #9dd37e;
    border-right: 1px solid #9dd37e;
    text-decoration: none;
    cursor: pointer
}

.instruments-block-item:hover {
    background-color: #71bf44;
    color: #fff
}

.hiddens {
    display: none
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s
}

.rotate270 {
    -webkit-transform: rotate(270deg)!important;
    transform: rotate(270deg)!important
}

.table-icon {
    background-image: url(../images/table-icons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px
}

.table-icon.icon__calc {
    background-position: 0
}

.table-icon.icon__thumb-down {
    background-position: -25px 0
}

.table-icon.icon__thumb-up {
    background-position: -47px 0
}

.table-icon.icon__delete {
    background-position: -71px 0
}

.btn-center {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

a.standart-link {
    text-decoration: underline;
    color: #53a424;
    font-size: 15px
}

.search-input {
    height: 40px;
    border: 1px solid #c0c3bf;
    padding-left: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 98% 5px
}

.half-color-wrapper {
    background: #e6ece9;
    background: -webkit-gradient(left top, right top, color-stop(0, #e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, #e6ece9, #e6ece9 50%, #fff 0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), to(#fff));
    background: -webkit-linear-gradient(left, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    background: linear-gradient(90deg, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6ece9", endColorstr="#ffffff", GradientType=1)
}

.content-center-wrapper {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.modal-content {
    background-color: #ccd5d0;
    box-shadow: none;
    border-radius: 0;
    border: none
}

.modal-content .modal-header {
    border-bottom: none
}

.modal-content .modal-header .close {
    opacity: 1
}

.modal-content .modal-body {
    padding-top: 0
}

.sales-product.gold {
    background-color: #f5ffb6;
    border: 2px solid #71bf44
}

.grey-bg {
    background: #ebf0ee
}

.btn-green {
    position: relative
}

.btn-green:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: hsla(0, 0%, 100%, .3);
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.btn-green:hover:before {
    width: 100%
}

.events .all-select {
    width: 170px
}
@media (min-width:1024px) {
    #chartdiv {
        min-height: 600px
    }
}
@media (max-width:1024px) {
    #chartdiv {
        min-height: 800px
    }
}
@media (max-width:768px) {
    .cp-header__logo, .subscription {
        margin: 0 0 15px
    }
    .subscription {
        display: block;
        border: none
    }
    .subscription-info {
        margin-top: -70px
    }
    .logos {
        display: block;
        text-align: center;
    }
    .subscription.none {
        display: inline-block;
        width: 100%;
        height: 50px;
    }
    .navigation-mail {
        margin-top: 5px;
    }
    .navigation-link-wrapper .navigation__link {
        margin-left: 20px!important;
    }
    .navigation__link {
        margin-top: -3px;
    }
    .input-group-addon.kv-field-separator {
        margin: 10px 0;
        display: inline-block;
    }
    #sale-date-range {
        width: 100%!important;
    }
    .home-start h1 {
        font-size: 35px;
    }
    .button_1O {
        display: none!important;
    }
    #jivo_custom_widget {
        left: 75px;
        width: 40px;
        bottom: 5px!important;
    }
    .filter-accordion .company-in-map:after {
        left: 5px;
    }
    .item a {
        margin-bottom: 0;
    }
    .subscription.none .subscription-info {
        margin-top: 0px;
    }
    .product-item-mob {
        padding:0!important;
    }
    .product-item-mob img {
        width:100%;
    }
    .navigation {
        padding-left: 0
    }
    .navigation-mail {
        position: relative
    }
    .navigation-mail__number {
        left: 30px
    }
    .navigation__link, .navigation__prod {
        margin-left: 8px
    }
    .cp-title {
        font-size: 19px;
        height: 30px;
        line-height: 21px
    }
    .steps-step__desctiption, .steps-step__title {
        margin-bottom: 10px
    }
    .instruments-block-item span h4 {
        font-size: 12px
    }
    .filter-accordion select, .instruments-block-inactive-message-block {
        width: 100%
    }
    .filter-accordion .company-in-map {
        margin-top: 10px
    }
    .logistic-calc-buttons a, .logistic-calc-form input, .logistic-calc-form select {
        width: 100%;
        margin-bottom: 10px
    }
    .logistic-calc-buttons a {
        font-size: 15px;
        padding: 10px 0;
        text-align: center
    }
    .logistic-calc-info-price {
        margin: 0
    }
    #price-block .btn-green.pull-right {
        padding: 5px;
        font-size: 10px
    }
    #price-block .branches-table tr td, #price-block .branches-table tr th {
        padding-left: 15px;
        padding-right: 40px
    }
    #price-block .click-filter {
        padding: 0;
        white-space: nowrap
    }
    #price-block .click-filter:before {
        right: -20px
    }
    #feedback-block .feed>span {
        display: block
    }
    #feedback-block .block-feedback .prod-link {
        white-space: nowrap
    }
    .mt45 {
        margin-top: 20px
    }
    #product-block {
        padding-left: 15px
    }
    .comp-map .filter {
        padding-right: 0
    }
    .comp-map_grey .filter {
        padding-right: 150px
    }
    .feed-icon {
        float: none!important
    }
    .ms input, .ms select {
        margin-bottom: 10px
    }
    .company-cart #stars-gold {
        bottom: 0
    }
    .company-cart .prod-link {
        display: block;
        margin-top: 0;
        font-size: 14px
    }
    .cp-footer .socials {
        display: block;
        text-align: center
    }
    .cp-footer__copyright {
        margin: 15px auto;
        display: block
    }
    .cp-footer .support {
        display: block;
        width: auto;
        float: none;
        text-align: center
    }
    .important-info {
        padding: 25px 0
    }
    .important-info-link {
        margin-bottom: 15px
    }
    .bread h1 {
        font-size: 32px
    }
    .ap-choose {
        width: 100%
    }
    .ap-choose__item {
        width: calc(50% - 3px);
        float: left;
        margin: 0;
        display: inline-block;
        font-size: 17px
    }
    .ap-choose__item:first-child {
        margin-right: 6px
    }
    .ap-create-button {
        margin: 0 30px
    }
    .ap-form-photos .ap-form-photo {
        width: 100%;
        left: 0
    }
    .ap-form-photos .ap-form-photo.mb-hidden {
        display: none
    }
    .ap-company-heading .ap-prod-type__title {
        display: block;
        text-align: left
    }
    .ap-form-location-add-more__text {
        display: inline-block;
        margin-top: 20px;
        width: calc(100% - 60px)
    }
    .ap-form-location .region {
        margin-bottom: 10px
    }
    .ap-form-price input, .ap-form-price select, .ap-form-volume input, .ap-form-volume select {
        width: 100%;
        margin-bottom: 10px
    }
    .ap-form-submit, .social {
        text-align: center
    }
    .ap-form-contacts label {
        display: inline
    }
    .ap-success-container__message {
        line-height: 35px;
        font-size: 24px;
        padding-top: 30px
    }
    .pay-check {
        margin-top: 0;
        margin-bottom: 5px;
        padding-top: 20px;
        padding-bottom: 0
    }
    .pay-check .step-way {
        margin-bottom: 20px
    }
    .pay-check .radio label {
        min-height: auto
    }
    .pay-check .date-price {
        margin-bottom: 35px
    }
    .pays {
        padding-top: 25px
    }
    .pays .step-way {
        margin-bottom: 15px
    }
    .pay-service label {
        margin-bottom: 20px
    }
    .total-block {
        padding: 40px 0
    }
    .total-block button {
        margin: 30px auto 0
    }
    .dialog-filter-wrapper {
        text-align: center
    }
    .dialog-filter-wrapper .dialog-filter {
        float: none
    }
    .dialog__search-input {
        width: 100%
    }
    .message-pagination .text-cen {
        display: block;
        margin: 20px 0;
        text-align: center
    }
    .message-pagination .pagination {
        width: 100%;
        text-align: center;
        float: none
    }
    .dialog-user {
        width: 100%;
        height: auto;
        padding: 0 15px;
        background: #d9e1dd
    }
    .dialog-message {
        margin-left: 0
    }
    .about-container {
        padding: 15px
    }
    .about-container__save {
        font-size: 15px
    }
    .pl35 {
        padding-left: 15px
    }
    .ap-container {
        text-align: center
    }
    .ap-container .text_grey a {
        width: 100%;
        font-size: 15px
    }
    .ap-container input {
        margin: 0 auto 20px
    }
    .important-info {
        padding: 25px 15px
    }
    .show-prices {
        text-align: center;
        margin-bottom: 20px;
        display: block
    }
    .show-prices .export-to-csv {
        float: none;
        margin-top: 15px
    }
    .m-profile .block-label {
        text-align: center
    }
    .m-profile .ap-form-new-price .text-right {
        text-align: left
    }
    .m-profile .ap-form-new-price #find-product {
        display: block;
        width: 100%
    }
    .m-profile .ap-form-new-price .ap-form-contacts__input {
        width: 100%
    }
    .m-profile button {
        display: block;
        margin: 0 auto
    }
    .product-sale button {
        margin-bottom: 10px
    }
    .product-price {
        font-size: 30px
    }
    .product-price span {
        font-size: 22px
    }
    .prod-link1, .prod-link2, .prod-link3 {
        text-align: center;
        margin: 10px 15px
    }
    .prod-link2 {
        padding: 15px 0 10px
    }
    .another-product:before, .look-product:before {
        width: 100%;
        left: 0
    }
    .product-sale .col-ib {
        display: inline-block
    }
    .price-cart .tcc {
        text-align: center
    }
    .price-cart .tcc button {
        margin: 0 auto
    }
    .mt20m {
        margin-top: 20px
    }
    .sbbg {
        width: 100%
    }
    .show-prices__date.whi {
        width: calc(100% - 45px)
    }
    .filter-show .input-center.lti {
        width: 100%;
        margin-top: 20px
    }
    .sr-btn {
        display: inline-block;
        margin-top: 5px
    }
    .icon-category .item.col-xs-6 {
        width: 50%
    }
    .icon-category.text-sub ul li {
        text-align: center
    }
    .input-group {
        margin-bottom: 10px
    }
    .filter-price .input-group input {
        width: 50%;
        margin-right: 0
    }
    .type-product label {
        margin: 0 5px 0 0;
        display: block
    }
    .result-filter {
        padding: 0 0 20px
    }
    .result-filter .text-right {
        text-align: left
    }
    .result-filter .text-right label {
        margin-left: 0
    }
    .result-filter p span {
        font-size: 27px
    }
    .sales-product .col-sm-4 {
        padding: 0 15px
    }
    .pagination>active>a {
        color: #53a424
    }
    .pagination>li {
        margin: 0
    }
    .pagination>li>a {
        font-size: 21px;
        padding: 6px 7px;
        color: #333;
        background-color: transparent;
        border: none
    }

    .sr_close {
		position: absolute;
		right: 9px;
		top: 23px;
		display: block;
    }
    .branches {
        padding: 35px 15px
    }
    label {
        margin-left: 0!important
    }
    .show-prices span {
        display: block;
        margin-bottom: 15px
    }
    .message-pagination {
        text-align: center;
        margin-top: 10px
    }
    .event-photo {
        width: 100%
    }
    .events .all-select {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0
    }
    .logistic-calc-item .logistic-calc-item__text.ttl {
        font-size: 25px;
        margin: 15px 0
    }
    .logistic-calc-item__text {
        margin-top: 25px
    }
    .thx-reg .ap-success-container__message {
        line-height: inherit;
        font-size: 20px
    }
    .branches-table-wrapper {
        padding: 0
    }
    .w200 {
        width: 100%;
        margin: 0
    }
    .btn-green {
        font-size: 14px
    }
    .m-profile .ap-company-form, .message-container {
        padding: 0
    }
    .ap-company-heading__title, .ap-company-subheading__title, .ap-form-contacts, .ap-form-contacts__title, .ap-form-date, .ap-form-location__title, .ap-form-price__title, .ap-form-rubric__title, .ap-form-text__title, .ap-form-volume__title, .ap-prod-type__title {
        text-align: left
    }
    .ap-form-date {
        padding-top: 20px
    }
    .ap-form-date__title {
        display: block
    }
    .show-prices__date {
        margin: 0
    }
    .navbar-toggle {
        margin: 0 15px 0 0
    }
    .slct-w50-ib {
        width: 100%!important
    }
    .ap-prod-type {
        margin: 15px 0!important
    }
    .pays .step-way:before {
        top: -11px;
        left: -10px;
        font-size: 30px;
        width: 45px;
        height: 45px
    }
    .rating-company .sales-product {
        min-height: inherit;
        max-height: inherit
    }
    .rating-company .sales-product.elevator-block .col-sm-4 {
        line-height: inherit;
        margin: 15px 0
    }
    .rating-company .sales-product.elevator-block .col-sm-5 {
        margin-top: 30px;
        text-align: center
    }
    .rating-company .sales-product.elevator-block .col-sm-3 {
        margin: 25px 0;
        padding: 0;
        text-align: center
    }
    .filter-show .input-center {
        width: 100%
    }
	.company-in-map {
	margin-bottom: 10px;
}
	.select2-selection.select2-selection--single {
		border-radius: 0;
		box-shadow: none!important;
		border-color: #cccecb;
	}
	.mtac {
		text-align: center!important;
	}
	button, a {
		margin-bottom: 10px;
	}
    .owl-instruments .owl-prev {
        left: -15px;
    }
    .owl-instruments .owl-next {
        right: -15px;
    }
    .owl-instruments .owl-prev, .owl-instruments .owl-next {
        top: 30%;
    }
    .container.partcir .col-sm-3 .clearfix > div {
        margin: 15px 0;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }
    ul.navigation__languages {
		right: 15px;
	}
    .gsInformer {
        width: 100% !important;
    }
    /*.rating-company .sales-product.one-company-block {*/
		/*min-height: 193px;*/
		/*max-height: 193px;*/
	/*}*/
	.rating-company .sales-product.one-company-block {
		 padding-bottom: 0;
	}
	.list-services .item {
		/*background-color: transparent!important;*/
	}
	.main-menu li {
		margin-left: 11px;
		position: relative;
		float: left;
	}
	#zakupka,
	.over-sc {
		overflow: scroll;
	}

}

.table-container {
    overflow-x: auto
}

input {
    border: 1px solid #ccc
}
button {
    margin-bottom: 10px;
}
.mtac {
    text-align: center!important;
}
