.sidebar-grey {
    margin-top: 45px;
    padding: 0 15px 40px
}

.sidebar-grey .sbbg {
    background-color: #b1b3b0;
    display: inline-block
}

.sidebar-grey h4 a {
    position: relative;
    padding-left: 20px
}

.sidebar-grey h4 a.collapsed:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .3s;
    transition: .3s
}

.sidebar-grey h4 a:before {
    content: "\f101";
    font-family: Flaticon;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    -webkit-transition: .3s;
    transition: .3s
}

.sidebar-grey .accordion-heading a.collapsed:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .3s;
    transition: .3s;
}

.sidebar-grey .accordion-group a:before{
    content: "\f101";
    font-family: Flaticon;
    font-style: normal;
    width: auto;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: -20px;
}


.sidebar-grey .sidebar-grey-input {
    padding-left: 30px
}

.sidebar-grey .sell-block {
    float: left;
    width: 50%;
    background: #e2e2e1;
    margin-bottom: -1px
}

.sidebar-grey .sell-block.active {
    background: #b1b3b0
}

.sidebar-grey .like-tabs {
    font-size: 19px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 25px 0;
    display: block
}

.sidebar-grey__title {
    color: #000;
    text-transform: uppercase;
    font-size: 19px;
    padding: 20px 0 20px 30px;
    margin-top: 0;
    border-top: 1px solid #c5c7c4;
    border-bottom: 1px solid #c5c7c4;
    font-weight: 700
}

.sidebar-grey .reg {
    border-top: 15px solid #fff
}

.sidebar-grey .panel-group {
    background-color: #b1b3b0;
    margin-bottom: 0
}

.sidebar-grey .panel-heading {
    background-color: #b1b3b0;
    border: none;
    padding-left: 30px
}

.sidebar-grey .panel, .sidebar-grey .panel-default {
    border: none!important;
    box-shadow: none
}

.sidebar-grey .panel-body {
    background-color: #b1b3b0;
    border: none;
    padding-left: 30px
}

.sidebar-grey .panel-body input[type=checkbox]+label {
    color: #fff
}

.sidebar-grey .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none
}
