@font-face {
    font-family: Geometria;
    src: url(../fonts/Geometria.otf)
}

.bg-g {
    background-color: #d9e1dd
}

.db {
    display: block
}

.ib, .steps-step__number, .steps-step__title, .table-icon {
    display: inline-block
}

.fl, .steps-step__number, .steps-step__title {
    float: left
}

.fr {
    float: right
}

.p0 {
    padding: 0
}

.pb0 {
    padding-bottom: 0
}

.pl15 {
    padding-left: 15px
}

.pr15 {
    padding-right: 35px
}

.pl35 {
    padding-left: 35px
}

.pr35 {
    padding-right: 15px
}

.m0 {
    margin: 0
}

.ml10 {
    margin-left: 10px
}

.mr20 {
    margin-right: 20px
}

.mr50 {
    margin-right: 50px
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.mt10 {
    margin-top: 10px
}

.mt25 {
    margin-top: 25px
}

.mb25 {
    margin-bottom: 25px
}

.mt30 {
    margin-top: 30px
}

.mb30 {
    margin-bottom: 30px
}

.mt35 {
    margin-top: 35px
}

.mb35 {
    margin-bottom: 35px
}

.instruments-block-inactive-message-block__text, .mt40 {
    margin-top: 40px
}

.mt45 {
    margin-top: 45px
}

.instruments-block-inactive-message-block__text, .mb40 {
    margin-bottom: 40px
}

.w200 {
    width: 200px
}

.mtb25 {
    margin: 25px 0
}

.mtb50 {
    margin: 50px 0
}

.pt35 {
    padding-top: 35px
}

.pt45 {
    padding-top: 45px
}

.ptb40 {
    padding: 40px 0
}

.mw300 {
    min-width: 300px
}

.bold {
    font-weight: 700
}

.fs15, input[type=checkbox]+label {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.fs17 {
    font-size: 17px
}

.fs20 {
    font-size: 20px
}

.fw600 {
    font-weight: 600
}

.black {
    color: #000
}

.tdn {
    text-decoration: none
}

.dsb {
    display: block
}

.fw {
    width: 100%
}

a {
    color: #71bf44;
    text-decoration: underline
}

input[type=text] {
    padding-left: 20px;
    height: 42px
}

input[type=checkbox]+label {
    font-weight: 400;
    padding-right: 10px
}

input[type=checkbox].inline-checkbox+label {
    padding-left: 10px
}

input[type=checkbox].inline-checkbox+label:before {
    margin: 5px 10px 0 -21px
}

td, th {
    padding: 0 10px
}

.instruments-block-item, .transition {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.important-info-link__item, .instruments-block-inactive-message-block, .vac {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.instruments-block-inactive-message-block, .tac {
    text-align: center
}

.title {
    font-size: 19px;
    color: #000
}

.all-select {
    padding-left: 20px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

.btn-white {
    background: transparent;
    border: 1px solid #71bf44;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 19px
}

.btn-white, .btn-white:focus, .btn-white:hover {
    color: #71bf44
}

.cp-title {
    font-family: Helvetica Bold;
    text-transform: uppercase;
    font-size: 23px;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.slct-w50-ib {
    width: 50%!important;
    display: inline-block!important
}

.slct-bn {
    border: none
}

.serv-link {
    font-size: 10px;
    padding-bottom: 5px
}

.branches-table .prod-link1, .branches-table .prod-link3 {
    padding: 0 5px 5px
}

.branches-table .prod-link2 {
    padding: 0 0 5px
}

.centered-block {
    display: block;
    margin: 0 auto
}

.text_grey {
    color: #b1b3b0
}

.yellow_light_bg {
    background-color: #f7fbc3
}

.green_bg {
    background-color: #71bf44;
    color: #fff
}

.toggle_block {
    padding: 30px 55px
}

.placeholder {
    padding-left: 20px
}

.placeholder::-webkit-input-placeholder {
    color: #000
}

.placeholder:-moz-placeholder, .placeholder::-moz-placeholder {
    color: #000
}

.placeholder:-ms-input-placeholder {
    color: #000
}

.important-info {
    background-color: #f7fbc3;
    padding: 25px 70px;
    font-size: 15px
}

.important-info__title {
    color: #000
}

.important-info__text {
    line-height: 15px;
    margin-top: -3px
}

.important-info__i {
    position: absolute;
    top: -15px;
    left: 15px
}

.important-info__close {
    position: absolute;
    top: -9px;
    right: 15px;
    cursor: pointer
}

.important-info__hide {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer
}

.important-info-link {
    display: block;
    padding: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #71bf44;
    text-align: center;
    min-height: 77px;
    position: relative
}

.important-info-link__item {
    padding: 15px
}

.important-info-link:hover {
    color: #fff
}

.instruments-block {
    background-color: #89ca64;
    color: #fff;
    position: relative
}

.instruments-block-inactive {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(219, 221, 245, .7)
}

.instruments-block-inactive-message-block {
    height: auto;
    width: 500px;
    background-color: #fff;
    margin: 0 auto
}

.instruments-block-inactive-message-block__text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase
}

.instruments-block-inactive-message-block__button {
    margin-bottom: 30px
}

.instruments-block-title {
    color: #000;
    font-size: 24px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase
}

.instruments-block-item {
    position: relative;
    color: #fff;
    text-align: center;
    min-height: 206px;
    border-top: 1px solid #9dd37e;
    border-right: 1px solid #9dd37e;
    text-decoration: none;
    cursor: pointer
}

.instruments-block-item:hover {
    background-color: #71bf44;
    color: #fff
}

.hiddens {
    display: none
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s
}

.rotate270 {
    -webkit-transform: rotate(270deg)!important;
    transform: rotate(270deg)!important
}

.table-icon {
    background-image: url(../images/table-icons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px
}

.table-icon.icon__calc {
    background-position: 0
}

.table-icon.icon__thumb-down {
    background-position: -25px 0
}

.table-icon.icon__thumb-up {
    background-position: -47px 0
}

.table-icon.icon__delete {
    background-position: -71px 0
}

.btn-center {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

a.standart-link {
    text-decoration: underline;
    color: #53a424;
    font-size: 15px
}

.search-input {
    height: 40px;
    border: 1px solid #c0c3bf;
    padding-left: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 98% 5px
}

.half-color-wrapper {
    background: #e6ece9;
    background: -webkit-gradient(left top, right top, color-stop(0, #e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, #e6ece9, #e6ece9 50%, #fff 0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), to(#fff));
    background: linear-gradient(90deg, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6ece9", endColorstr="#ffffff", GradientType=1)
}

.content-center-wrapper {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.modal-content {
    background-color: #ccd5d0;
    box-shadow: none;
    border-radius: 0;
    border: none
}

.modal-content .modal-header {
    border-bottom: none
}

.modal-content .modal-header .close {
    opacity: 1
}

.modal-content .modal-body {
    padding-top: 0
}

.sales-product.gold {
    background-color: #f5ffb6;
    border: 2px solid #71bf44
}

.grey-bg {
    background: #ebf0ee
}

.btn-green.centered-block {
    width: 136px;
    height: 46px
}

.steps-step {
    position: relative
}

.steps-step__number {
    widows: 20%;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #71bf44;
    border-radius: 50%
}

.steps-step__title {
    width: 80%;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.text-center .subscription__arrow {
    top: -25px
}
