@font-face {
    font-family: "VeluxGothicCYR Bold";
    src: url("../fonts/VeluxGothicCYR-Bold.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Geometria Medium";
    src: url("../fonts/Geometria-Medium.otf");
    font-weight: normal;
}
@font-face {
    font-family: "Geometria Light";
    src: url("../fonts/Geometria-Light.otf");
    font-weight: normal;
}
@font-face {
    font-family: "Geometria Bold";
    src: url("../fonts/Geometria-Bold.otf");
    font-weight: normal;
}
@font-face {
    font-family: "Geometria ExtaBlack";
    src: url("../fonts/Geometria-ExtaBlack.otf");
    font-weight: normal;
}
@font-face {
	font-family: "Helvetica Medium";
	src: url("../fonts/HelveticaNeueCyr-Medium.otf");
	font-weight: normal;
}
@font-face {
	font-family: "Helvetica Bold";
	src: url("../fonts/HelveticaNeueCyr-Bold.otf");
	font-weight: normal;
}
@font-face {
  	font-family: "Flaticon";
  	src: url("../fonts/Flaticon.eot");
  	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       	url("../fonts/Flaticon.woff") format("woff"),
       	url("../fonts/Flaticon.ttf") format("truetype"),
       	url("../fonts/Flaticon.svg#Flaticon") format("svg");
  	font-weight: normal;
  	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  	@font-face {
    	font-family: "Flaticon";
    	src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  	}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  	font-family: Flaticon;
	font-style: normal;
}
.flaticon-back:before { content: "\f100"; }
.flaticon-down-arrow:before { content: "\f101"; }
.flaticon-facebook-logo-button:before { content: "\f102"; }
.flaticon-google-plus-logo-button:before { content: "\f103"; }
.flaticon-map-marker:before { content: "\f104"; }
.flaticon-next:before { content: "\f105"; }
.flaticon-searching-magnifying-glass:before { content: "\f106"; }
.flaticon-vk-social-logotype:before { content: "\f107"; }
* {
	font-family: "Helvetica Medium";
	font-size: 15px;
}
body {
	overflow-x: hidden;
}
a:hover,
a:focus {
	text-decoration: none;
}
a, input, textarea, button {
	outline: 0!important;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.clear::after {
	content: "";
	display: block;
	clear: both;
}
.table-cell {
	display: table;
    width: 100%;
    height: 100%;
}
figure {
	position: relative;
	overflow: hidden;
}
.container {
	width: 1200px;
}
.btn-grey {
    font-size: 19px;
    text-transform: uppercase;
    font-family: "Helvetica Bold";
    background-color: #8c918a;
    border: 1px solid #fff;
    color: #fff;
    padding: 14px 30px;
}

.top-panel {
	background-color: #d9d9d9;
}
.top-panel img {
	width: 100%;
}
.main-menu {
	padding: 35px 15px;
}
.main-menu li {
	margin-left: 22px;
	position: relative;
	float: left;
}
.main-menu .impt {
    margin-top: 16px;
}
.undfi button {
    background: #64a943;
    margin: 0;
    margin-top: 15px;
    position: absolute;
}

.undfi button.navbar-toggle.collapsed {
    top: -52px;
    -webkit-transition: 0s;
    transition: 0s;
}
.undfi button.navbar-toggle{
    top: -52px;
    -webkit-transition: 0s;
    transition: 0s;
}
.main-menu .impt li a {
	font-size: 17px;
	text-transform: uppercase;
	color: #000!important;
	font-family: "VeluxGothicCYR Bold";
    text-decoration: none;
}
.main-menu a:hover,
.main-menu a:focus {
	text-decoration: none;
}
.main-menu ul {
	margin-top: 21px;
}
li .dropdown-toggle::after {
    content: "\f101";
    font-family: Flaticon;
    font-style: normal;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center;
}
.singup {
    margin: 10px 0 0 48px;
}
.singup a,
.singup button {
	margin-left: 10px;
	font-size: 17px;
	padding: 0;
	text-transform: uppercase;
	border: none;
	background: none;
	color: #59ae28;
}
.extra-menu {
	padding: 11px 0;
	background-color: #7fc556;
}
.extra-menu li {
    margin-right: 98px;
	display: inline-block;
}
.extra-menu li:last-child {
	margin-right: 0;
}
.extra-menu a {
	font-size: 22px;
	text-transform: uppercase;
	font-family: "VeluxGothicCYR Bold";
	color: #fff;
}
.bread {
	border-bottom: 1px solid #fff;
}
.bread h1 {
	margin: 22px 0 20px;
	font-size: 40px;
	font-family: "Geometria ExtaBlack";
	color: #404f47;
	text-align: center;
	text-transform: uppercase;
}
.navigation__languages {
    padding: 10px;
    border: 1px solid #7ac142;
    outline: none;
    margin-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.bread-bg {
	background-color: #ebf0ee;
}
.breadcrumb {
	margin: 0;
	padding: 10px 0;
	background: none;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: "\003E";
}
.breadcrumb li {
	color: #000!important;
	font-style: italic;
}
.dn {
  display: none;
}
.open-table {
  color: #000;
  display: block;
  text-align: center;
}
.breadcrumb li a {
	color: #4fa41e;
	font-style: italic;
	text-decoration: underline;
}

.home-start {
	padding: 40px 0 0;
	background: none;
	background-size: cover;
	background-position: top center;
	position: relative;
    overflow: hidden;
    padding-bottom: 61px;
    margin-bottom: -61px;
}
.rate-block-title {
    margin-top: 35px;
}
.status-package {
    position: absolute;
    width: calc(100% - 90px);
    text-align: center;
}
.rate .bg-full {
    height: 100%;
}
.old-price {
    height: 17px;
    display: block;
    margin-bottom: 5px;
}
.block-rate .more,
.block-rate-next .more {
	text-align: center;
	margin-bottom: -20px;
}
.lenguages {
 position: relative;
}
#video {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: -1;
}
.home-start h1 {
    margin: 0 0 32px;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #404f47;
	font-family: "Geometria ExtaBlack";
	text-align: center;
}
.list-services .col-sm-6 {
	padding: 0 1px;
}
.list-services .item {
	border-top: 10px solid transparent;
	background-color: rgba(255,255,255,.73);
	transition: all .3s;
	-webkit-transition: all .3s;
}
.list-services .item:hover {
	background-color: #fff;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.list-services h5 {
	font-size: 24px;
	margin: 14px 0 15px;
	text-transform: uppercase;
	font-family: "Helvetica Bold";
	text-align: center;
}
.list-services .btn-green {
	padding: 17px 30px;
	width: 100%;
}
.list-services li {
	font-size: 19px;
}
.list-services ul {
	padding-left: 25%;
    margin-bottom: 34px;
}
.item-news {
	margin-bottom: 30px;
}
.item-news img {
	width: 100%;
}
.item-news h6 {
	font-size: 24px;
	margin: 0;
}
.date {
	font-size: 15px;
	font-style: italic;
	color: #585858;
}
.news-list {
	padding: 100px 0 50px;
	background-color: #dfe7e3;
	border-bottom: 1px solid #fff;
}
.media>.pull-left {
	width: 45%;
	padding-right: 20px;
}
.owl-instruments h4 {
    font-size: 24px;
    line-height: 22px;
    margin: 40px 0 26px;
    min-height: 64px;
    position: relative;
    color: #5eac3b;
}
.owl-instruments .item span {
	display: block;
	margin-bottom: 25px;
	font-size: 19px;
	line-height: 19px;
}
.owl-instruments .item h4::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 80%;
	height: 1px;
	background-color: #71bf44;
}
.owl-instruments .item a {
	min-height: 580px;
	padding: 70px 10px 20px;
	display: block;
	color: #000;
}
.owl-instruments .item a:hover,
.owl-instruments .item a:focus {
	background-color: #dfe7e3;
}
.owl-instruments .owl-prev,
.owl-instruments .owl-next {
	position: absolute;
	top: 50%;
}
.owl-product .owl-prev,
.owl-product .owl-next {
	position: absolute;
	top: 42%;
}
.owl-instruments .owl-prev i,
.owl-product .owl-prev i,
.owl-instruments .owl-next i ,
.owl-product .owl-next i {
	font-size: 38px;
}
.owl-instruments .owl-next {
	right: -60px;
}
.owl-instruments .owl-prev {
	left: -60px;
}
.owl-product .owl-next {
	right: -35px;
}
.owl-product .owl-prev {
	left: -35px;
}
.instruments {
	position: relative;
	border-bottom: 1px solid #fff;
}
.instruments .btn-all {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 50px;
	z-index: 2;
}
figure.effect-sarah {
	background: #71bf44;
}
figure.effect-sarah img {
	max-width: none;
	width: 100%;
	opacity: 0.39;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-sarah:hover img {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-sarah figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
figure.effect-sarah p {
	font-size: 24px;
	line-height: 25px;
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
	display: table-cell;
    vertical-align: middle;
}
figure.effect-sarah p::after {
	position: absolute;
	bottom: 30%;
	left: 10%;
	width: 0;
	height: 1px;
	background: #000;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	transition: transform 0.35s, -webkit-transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-sarah:hover p::after {
	width: 80%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.bg-grey {
	background-color: #dfe7e3;
}
.home-category .col-sm-3 {
	padding: 1px;
}
.home-category img {
	width: 100%;
}
.home-category a {
	color: #000;
}
.description-seo {
	padding: 30px 0;
	background: url("../images/fon-seo.jpg")no-repeat;
	background-size: cover;
}
.description-seo h2 {
	font-size: 24px;
}
.sales-product {
	margin-bottom: 17px;
	border: 1px solid #b5b5b5;
	background-color: #fbfbfb;
}
.sales-product a {
	font-size: 21px;
	color: #000;
}
.sales-product .col-sm-4 {
	padding-left: 0;
}
figure.effect-chico img {
	min-width: 100%;
    min-height: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figure.effect-chico:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.sales-product i {
	display: block;
}
.sales-product.top {
	border: 2px solid #96d175!important;
	background-color: #f5ffb6;
}
#stars-default {
    display: inline-block;
}
.sales-product .price {
	font-size: 29px;
	font-family: "Helvetica Bold";
}
.link-underline {
	padding: 0;
	color: #53a424;
	border: none;
	background: none;
	text-decoration: underline;
}
.link-underline.big {
	font-size: 19px;
}
.sidebar-banner {
	margin-top: 45px;
}
.sidebar-banner a {
	display: block;
	margin-bottom: 35px;
}
.sidebar-banner a img {
	width: 100%;
}
.pagination>li>a,
.pagination>li>span {
	font-size: 21px;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #80857d;
    border: none;
}
.pagination>li {
    display: inline-block;
    margin: 0 10px;
}
.pagination>li.active a {
	background-color: #79c849;
}
.pagination>li.active a:hover {
    background-color: #79c849;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0!important;
	background: none;
	color: #80857d;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 0!important;
	background: none;
	color: #80857d;
}
.pagination>li:last-child {
    margin-right: 0;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #79c849;
}
.icon-category {
	margin-top: 33px;
	padding-top: 27px;
	text-align: center;
	border-bottom: 1px solid #fff;
	background-color: #80857d;
}
.icon-category .item {
    display: inline-block;
    margin-bottom: 25px;
    width: 16.6%;
}
.icon-category .item p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    min-height: 45px;
}
.icon-category .item.col-centered {
    margin: 0 auto 25px;
    float: none;
}
.icon-category.text-sub ul {
    list-style-type: disc;
    margin-bottom: 25px;
    color: #fff;
}
.icon-category.text-sub ul li{
    text-align: left;
    padding-left: 0;
    margin-bottom: 5px;
    font-family: "Helvetica Medium";
}
.icon-category.text-sub .breadcrumb {
    text-align: left;
}
.icon-category.text-sub .breadcrumb a {
    color: #000;
}
.icon-category a {
	color: #fff;
}
.owl-category .owl-prev,
.owl-category .owl-next {
	position: absolute;
	bottom: 20px;
}
.owl-category .owl-prev i,
.owl-category .owl-next i {
	font-size: 38px;
	color: #fff;
}
.owl-category .owl-prev {
	left: -30px;
}
.owl-category .owl-next {
	right: -30px;
}
.owl-category .item p {
	font-size: 19px;
    line-height: 17px;
    margin-top: 8px;
}
.icon-category .btn-grey {
	margin: 19px 0 -1px 0;
}
.category-filter {
	background-color: #d9e1dd;
	border-bottom: 1px solid #fff;
	padding: 60px 0 50px;
}
.input-group-addon {
	background: #fff;
	border-radius: 0px;
}
.input-group-addon i {
	font-size: 24px;
	color: #72bf44;
}
.view-product {
	padding: 50px 15px;
}
.view-product .title-black {
	margin-bottom: 30px;
}
.traider-start {
	padding-top: 30px;
	text-align: center;
	background: url('../images/trader.jpg')no-repeat;
	background-size: cover;
}
.traider-start h2 {
	font-size: 40px;
	text-transform: uppercase;
	font-family: "Geometria ExtaBlack";
	color: #fff;
}
.traider-start p {
	font-size: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #fff;
}
.traider-start .text-block {
	margin-top: 20px;
	padding: 25px 35px 0;
	background-color: rgba(38,38,38,.65);
}
.result-filter {
	padding: 35px 0 20px;
}
.result-filter p,
.filter-pro {
	font-size: 19px;
	color: #404f47;
}
.result-filter p span {
	font-size: 44px;
	color: #000000;
}
.result-filter .form-control {
	display: inline-block;
}
.result-filter form {
	margin-top: 21px;
}
/*footer*/
footer {
	padding-top: 30px;
	background-color: #79c849;
}
footer .item {
	width: 25%;
	padding-right: 15px;
	float: left;
}
footer .item span {
    font-size: 22px;
    line-height: 20px;
    display: block;
    min-height: 40px;
}
footer li {
	margin-bottom: 7px;
}
footer li a {
	color: #000;
	line-height: 14px;
    display: block;
	transition: all .3s;
	-webkit-transition: all .3s;
}
footer li a:hover,
footer li a:focus {
	color: #fff;
	transition: all .3s;
	-webkit-transition: all .3s;
}
footer ul {
    margin: 5px 0 60px;
}
footer img {
	width: 100%;
}
footer .widgets img {
    width: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}
footer .widgets {
    position: fixed;
    bottom: 75px;
    right: 20px;
    z-index: 200;
}
footer .nav-pills li {
    margin-bottom: 0;
}
footer .tab-content {
    height: 250px;
    overflow: auto;
}
footer .nav-pills a {
    font-size: 15px;
    padding: 12px 21.5px!important;
    background-color: #7b8680;
    border-top-right-radius: 5px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
footer .nav-pills .active a {
    padding-top: 14px!important;
    background-color: #404f47;
    margin-top: -2px;
    text-decoration: : none;
}
footer .nav-pills a:hover,
footer .nav-pills a:focus,
footer .nav-pills a:active {
    background-color: #404f47!important;
    text-decoration: none;
}
footer .tab-content {
    background: #fff;
    border: 1px solid #404f47;
    border-radius: 0;
    padding: 25px 20px;
}
footer .one-block {
    width: 80%;
    position: relative;
}
footer .square-close {
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 50%;
    padding: 0 4px;
    position: absolute;
    top: 0;
    right: -20%;
    text-decoration: none;
}
footer .square-close:hover {
    text-decoration: none;
}
.info-window {
    display: none;
    position: absolute;
    left: -400px;
    bottom: -75px;
    width: 380px;
}
.info-window.open {
    display: block;
}
.social {
	margin-top: 30px;
}
.social a i {
	font-size: 39px;
	color: #fff;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.social a:hover i,
.social a:focus i {
	color: #404f47;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.social a {
	display: inline-block;
	margin-right: 10px;
}
.copyright {
	padding: 14px 0px;
	background-color: #404f47;
}
.copyright a {
	color: #6cc734;
}
.copyright p {
	margin: 0;
	font-size: 13px;
	color: #fff;
}
.big-filter {
	padding: 50px 0 30px;
}
.big-filter button {
	background: none;
	border: none;
	font-size: 19px;
}
.filter-pro {
	position: relative;
}
.filter-pro:before {
	position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    text-align: center;
}
.category-filter label {
	display: block;
	font-size: 19px;
	margin-left: 15px;
}
.type-product {
	padding: 20px 15px;
}
.filter-pro {
	cursor: pointer;
}
.filter-price .input-group input {
	width: 45%;
	margin-right: 10px;
	display: inline-block;
}
.type-product label {
	display: inline-block;
}
.type-product label:first-child {
	font-size: 19px;
	margin: 0;
	color: inherit;
}
.type-product label {
	margin: 0 5px 0 50px;
	font-size: 18px;
	font-weight: 500;
	color: #3d4a5b;
}
.result-filter label {
	display: inline-block;
    color: #3d4a5b;
    margin-top: 6px;
    font-weight: 500;
}
.result-filter  .text-right {
	margin-top: 5px;
}
.top-marclear {
	margin-top: 45px;
	position:relative;
}
.product-sale img {
	width: 100%;
}
.product-id {
	font-size: 17px;
	color: #000;
}
.product-add-info span{
	font-weight: 500;
	color: #4f5c55;
}
.product-add-date {
	margin-right: 15px;
}
.product-add-time {
	margin-left: 15px;
}
.product-price {
	font-size: 40px;
    padding-top: 10px;
    line-height: 34px;
    display: inline-block;
}
.product-price span {
	font-size: 28px;
}
.product-weight {
	margin-top: 11px;
    display: block;
	font-size: 28px;
}
.product-sale button {
	width: 100%;
}
.prod-link {
	font-size: 19px;
	color: #5aa72d;
	text-decoration: underline;
	width: 33%;
}
.prod-link:hover {
    color: #000;
}
.link-g {
	color: #5aa72d;
}
.full-width {
	width: 100%;
}
.prod-link3 .prod-link {
	color: #f15852;
}
.prod-link2 {
	padding: 15px 0 20px;
	text-align: center;
}
.prod-link1,
.prod-link3 {
	padding: 15px 15px 20px;
}
.prod-link3 {
	text-align: right;
}
.product-owner {
	display: block;
	font-size: 19px;
	font-weight: 700;
}
.product-sale .cont {
	font-size: 19px;
	font-family: "Helvetica Medium";
	color: #5aa72d;
	width: auto;
	background: none;
	border: none;
	cursor: pointer;
}
#contants{
	padding-bottom: 30px;
}
.cont i {
	font-weight: 700;
    padding-left: 10px;
}
#contants p {
	color: #4f5c55;
	display: inline-block;
    text-align: right;
	margin: 0;
}
#contants p span {
	color: #000;
}
.another-product,
.look-product {
	position: relative;
}
input[type=checkbox], input[type=radio] {
    margin: 5px 10px 0 0!important;
}
.another-product:before ,
.look-product:before {
	content: "";
    background: #ecf1ee;
	top: 25px;
    left: -100%;
    width: 300%;
    height: calc( 100% - 25px );
    position: absolute;
    z-index: -1;
    display: block;
}
.owl-product {
	padding: 40px 0 20px;
}
.another-product .sales-product {
	border:none;
}
.load-more {
	margin: 33px 0 0;
}
.norm-line p {
	line-height: 15px;
}
.norm-line {
	padding-top: 15px;
}
.norm-line .link-g {
	margin-top: 15px;
    display: inline-block;
    text-decoration: underline;
}
.red-al {
    color: #f15852;
}
.rdl-line {
    margin: 0 10px;
    display: inline-block;
}
.partcir  span {
    font-size: 19px!important;
	line-height: 19px;
	margin-top: -50px!important;
	color: #000!important;
}
.partcir   span p {
	margin-top: 15px!important;
	font-size: 39px!important;
}
.partcir.clearfix:before,
.partcir .clearfix:after {
	content: " ";
	display: table;
}
.partcir .clearfix:after {
	clear: both;
}
.partcir .clearfix {
	*zoom: 1;
}
.partcir {
	padding: 90px 0 69px;
}
.slice,
.bar,
.fill {
	font-size: inherit;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  font-size: 18px;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    margin: 5px 10px 0 0;
    background: url('../images/checkbox.jpg') no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: 0 0;
}
input[type="checkbox"]:checked + label::before {
    background-position: 0 -11px;
}
input[type="checkbox"]:disabled + label::before {
    background-position: 0 0;
}
input[type="checkbox"]:checked:disabled + label::before {
    background-position: 0 -11px;
}
.navbar-default {
    border: none;
    background: none;
}
.extra-menu li {
    margin-right: 98px;
    display: inline-block;
}
.navbar {
    min-height: 30px;
}
.nav>li>a {
    padding: 0;
    color: #fff!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 5px 0;
}
.navbar-default {
    margin: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    border: none!important;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-trasition: all .3s;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border: none;
    background: none;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle[aria-expanded="true"] span:nth-child(2) {
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    position: relative;
    top: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-trasition: all .3s;
}
.navbar-default .navbar-toggle[aria-expanded="true"] span:nth-child(3) {
    display: none;
}
.navbar-default .navbar-toggle[aria-expanded="true"] span:nth-child(4) {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    position: relative;
    top: -3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-trasition: all .3s;
}
.navbar-nav {
    text-align: center;
    width: 100%;
}

@media (max-width: 1024px) {
	.container {
		width: 100%;
	}
	.main-menu li a {
		font-size: 14px;
	}
	.singup a, .singup button {
		margin-left: 10px;
		font-size: 14px;
	}
}
@media (max-width: 768px) {
    .undfi {
        float: left!important;
    }
    .undfi li {
        float: none;
        text-align: center;
    }
    .undfi .navbar-toggle:focus,
    .undfi .navbar-toggle:hover {
        border: none;
        background: #64a943!important;
    }
    .singup {
        margin-left: 0!important;
    }
    .undfi {
        width: 100%;
        min-height: inherit!important;
    }
    footer {
        text-align: center;
    }
    footer .widgets {
        bottom: 0;
        right: 0;
        width: 100%;
    }
    footer .widgets > div {
        display: inline-block;
    }
    footer .widgets img {
        margin-bottom: 5px;
    }
    .info-window {
        left: 0;
        bottom: 45px;
        width: 100%;
    }
    footer .nav-pills li {
        width: 29%;
    }
    footer .nav-pills li:last-child {
        width: 40%;
    }
    footer .nav-pills li a {
        padding: 12px 0!important;
    }
	.list-services ul {
		padding: 15px;
	}
	.media>.pull-left {
		float: none!important;
		width: 100%;
	}
	footer .item {
		width: 100%;
		float: none;
	}
	.navbar-collapse li {
	    margin: 0 0 10px!important;
	    display: block;
	}
	footer ul {
		margin: 5px 0 30px;
	}
	.social {
		margin-bottom: 10px;
	}
	footer .item {
		padding-left: 0;
	}
	.copyright {
		text-align: center;
	}
	.copyright p {
		margin-top: 10px;
		text-align: center;
	}
}
.percircle.dark .bar,
.percircle.dark .fill {
    border-color: #c6ff00
}
.percircle.yellow .bar, .percircle.yellow .fill {
    border-color: #dcbd00
}
.gt50 .bar:after, .gt50 .fill, .pie-fill {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.percircle {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: right;
    margin: 0 0 .1em .1em;
    background-color: #ccc
}
.percircle.big {
    font-size: 240px
}
.percircle:after {
    position: absolute;
    top: .08em;
    right: .08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #f5f5f5;
    width: .84em;
    height: .84em
}
.percircle:hover>span {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: #307bbb
}
.percircle:hover:after {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.percircle.dark {
    background-color: #777
}
.percircle.dark .bar,
.percircle.dark .fill {
    border-color: #000
}
.percircle.dark>span {
    color: #777
}
.percircle.dark:after {
    background-color: #555
}
.percircle.dark:hover>span {
    color: #c6ff00
}
.percircle.red .bar,
.percircle.red .fill {
    border-color: #dd5454
}
.percircle.red:hover>span {
    color: #dd5454
}
.percircle.red.dark .bar,
.percircle.red.dark .fill {
    border-color: #f84a4a
}
.percircle.red.dark:hover>span {
    color: #f84a4a
}
.percircle.blue .bar,
.percircle.blue .fill {
    border-color: #82cefa
}
.percircle.blue:hover>span {
    color: #82cefa
}
.percircle.blue.dark .bar,
.percircle.blue.dark .fill {
    border-color: #20cceb
}
.percircle.blue.dark:hover>span {
    color: #20cceb
}
.percircle.green .bar,
.percircle.green .fill {
    border-color: #8dea7b
}
.percircle.green:hover>span {
    color: #8dea7b
}
.percircle.green.dark .bar,
.percircle.green.dark .fill {
    border-color: #a9ff3a
}
.percircle.green.dark:hover>span {
    color: #a9ff3a
}
.percircle.orange .bar,
.percircle.orange .fill {
    border-color: #e88239
}
.percircle.orange:hover>span {
    color: #e88239
}
.percircle.orange.dark .bar,
.percircle.orange.dark .fill {
    border-color: #dc5b00
}
.percircle.orange.dark:hover>span {
    color: #dc5b00
}
.percircle.pink .bar,
.percircle.pink .fill {
    border-color: #ff8ed0
}
.percircle.pink:hover>span {
    color: #ff8ed0
}
.percircle.pink.dark .bar,
.percircle.pink.dark .fill {
    border-color: #ff58b9
}
.percircle.pink.dark:hover>span {
    color: #ff58b9
}
.percircle.purple .bar,
.percircle.purple .fill {
    border-color: #aa7eff
}
.percircle.purple:hover>span {
    color: #aa7eff
}
.percircle.purple.dark .bar,
.percircle.purple.dark .fill {
    border-color: #7a38f7
}
.percircle.purple.dark:hover>span {
    color: #7a38f7
}
.percircle.yellow .bar,
.percircle.yellow .fill {
    border-color: #68c82c
}
.percircle.yellow:hover>span {
    color: #dcbd00
}
.percircle.yellow.dark .bar,
.percircle.yellow.dark .fill {
    border-color: #ffdb00
}
.percircle.yellow.dark:hover>span {
    color: #ffdb00
}
.percircle.gt50 .slice,
.rect-auto {
    clip: rect(auto, auto, auto, auto)
}
.gt50 .fill,
.percircle .bar,
.pie {
    position: absolute;
    border: .08em solid #307bbb;
    width: .84em;
    height: .84em;
    clip: rect(0, .5em, 1em, 0);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}
.bar {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.gt50 .bar:after,
.gt50 .fill,
.pie-fill {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
.percircle {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 .1em .1em 0;
    background-color: #dff5d2
}
.percircle *,
.percircle:after,
.percircle:before {
    box-sizing: content-box
}
.percircle.animate:after,
.percircle.animate>span {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}
.percircle.animate .bar {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}
.percircle.center {
    float: none;
    margin: 0 auto
}
.percircle.big {
    font-size: 200px
}
.percircle.small {
    font-size: 80px
}
.percircle>span {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    height: 1em;
    margin-top: -.5em;
    font-size: .2em;
    color: #ccc;
    display: block;
    text-align: center;
    white-space: nowrap
}
.perclock>span {
    font-size: .175em
}
.percircle:after {
    position: absolute;
    top: .08em;
    left: .08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #f5f5f5;
    width: .84em;
    height: .84em
}
.percircle .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0, 1em, 1em, .5em)
}
.percircle:hover {
    cursor: default
}
.percircle:hover>span {
    color: #307bbb
}
.percircle:hover:after,
.percircle:hover>span {
    -webkit-transform: scale(1);
    transform: scale(1)
}
.open-table.mt20 {
	position: relative;
}
.tdn {
	text-decoration: none;
}
.navbar.navbar-default.undfi {
	width: 50%;
}
#advertisementform-price,
#advertisementform-volume,
#choose-measurement,
#advertisementform-active_to,
#advertisementform-phones,
input,
#advertisementform-currency,
.select2-selection.select2-selection--single,
.select2-dropdown.select2-dropdown--below {
	border-radius: 0;
    border-color: #a9a9a9!important;
    box-shadow: none!important;
}
input {
	border-radius:0!important;
}
.select2-selection__arrow {
	border-left: none!important;
}
.op-button {
	width: 19px;
    height: 19px;
    z-index: 55555;
    float: right;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent!important;
}
.navbar-nav .open .dropdown-menu {
	text-align: center;
}
.navbar-nav .open .dropdown-menu li {
	margin: 0;
}

