@font-face {
    font-family: Geometria;
    src: url(../fonts/Geometria.otf)
}

.bg-g {
    background-color: #d9e1dd
}

.db {
    display: block
}

.ib, .table-icon {
    display: inline-block
}

.fl {
    float: left
}

.fr {
    float: right
}

.p0 {
    padding: 0
}

.pb0 {
    padding-bottom: 0
}

.pl15 {
    padding-left: 15px
}

.pr15 {
    padding-right: 35px
}

.pl35 {
    padding-left: 35px
}

.pr35 {
    padding-right: 15px
}

.m0 {
    margin: 0
}

.ml10 {
    margin-left: 10px
}

.mr20 {
    margin-right: 20px
}

.mr50 {
    margin-right: 50px
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.mt10 {
    margin-top: 10px
}

.mt25 {
    margin-top: 25px
}

.mb25 {
    margin-bottom: 25px
}

.mt30 {
    margin-top: 30px
}

.mb30 {
    margin-bottom: 30px
}

.mt35 {
    margin-top: 35px
}

.mb35 {
    margin-bottom: 35px
}

.instruments-block-inactive-message-block__text, .mt40 {
    margin-top: 40px
}

.mt45 {
    margin-top: 45px
}

.instruments-block-inactive-message-block__text, .mb40 {
    margin-bottom: 40px
}

.w200 {
    width: 200px
}

.mtb25 {
    margin: 25px 0
}

.mtb50 {
    margin: 50px 0
}

.pt35 {
    padding-top: 35px
}

.pt45 {
    padding-top: 45px
}

.ptb40 {
    padding: 40px 0
}

.mw300 {
    min-width: 300px
}

.bold {
    font-weight: 700
}

.fs15, input[type=checkbox]+label {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.fs17 {
    font-size: 17px
}

.fs20 {
    font-size: 20px
}

.fw600 {
    font-weight: 600
}

.black {
    color: #000
}

.tdn {
    text-decoration: none
}

.dsb {
    display: block
}

.fw {
    width: 100%
}

a {
    color: #71bf44;
    text-decoration: underline
}

input[type=text] {
    padding-left: 20px;
    height: 42px
}

input[type=checkbox]+label {
    font-weight: 400;
    padding-right: 10px
}

input[type=checkbox].inline-checkbox+label {
    padding-left: 10px
}

input[type=checkbox].inline-checkbox+label:before {
    margin: 5px 10px 0 -21px
}

td, th {
    padding: 0 10px
}

.instruments-block-item, .transition {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.important-info-link__item, .instruments-block-inactive-message-block, .vac {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.instruments-block-inactive-message-block, .tac {
    text-align: center
}

.title {
    font-size: 19px;
    color: #000
}

.all-select {
    padding-left: 20px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

.btn-white {
    background: transparent;
    border: 1px solid #71bf44;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 19px
}

.btn-white, .btn-white:focus, .btn-white:hover {
    color: #71bf44
}

.cp-title {
    font-family: Helvetica Bold;
    text-transform: uppercase;
    font-size: 23px;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.slct-w50-ib {
    width: 50%!important;
    display: inline-block!important
}

.slct-bn {
    border: none
}

.serv-link {
    font-size: 10px;
    padding-bottom: 5px
}

.branches-table .prod-link1, .branches-table .prod-link3 {
    padding: 0 5px 5px
}

.branches-table .prod-link2 {
    padding: 0 0 5px
}

.centered-block {
    display: block;
    margin: 0 auto
}

.text_grey {
    color: #b1b3b0
}

.yellow_light_bg {
    background-color: #f7fbc3
}

.green_bg {
    background-color: #71bf44;
    color: #fff
}

.toggle_block {
    padding: 30px 55px
}

.placeholder {
    padding-left: 20px
}

.placeholder::-webkit-input-placeholder {
    color: #000
}

.placeholder:-moz-placeholder, .placeholder::-moz-placeholder {
    color: #000
}

.placeholder:-ms-input-placeholder {
    color: #000
}

.important-info__hide {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer
}

.important-info-link {
    display: block;
    padding: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #71bf44;
    text-align: center;
    min-height: 77px;
    position: relative
}

.important-info-link__item {
    padding: 15px
}

.important-info-link:hover {
    color: #fff
}

.instruments-block {
    background-color: #89ca64;
    color: #fff;
    position: relative
}

.instruments-block-inactive {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(219, 221, 245, .7)
}

.instruments-block-inactive-message-block {
    height: auto;
    width: 500px;
    background-color: #fff;
    margin: 0 auto
}

.instruments-block-inactive-message-block__text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase
}

.instruments-block-inactive-message-block__button {
    margin-bottom: 30px
}

.instruments-block-title {
    color: #000;
    font-size: 24px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase
}

.instruments-block-item {
    position: relative;
    color: #fff;
    text-align: center;
    min-height: 206px;
    border-top: 1px solid #9dd37e;
    border-right: 1px solid #9dd37e;
    text-decoration: none;
    cursor: pointer
}

.instruments-block-item:hover {
    background-color: #71bf44;
    color: #fff
}

.hiddens {
    display: none
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s
}

.rotate270 {
    -webkit-transform: rotate(270deg)!important;
    transform: rotate(270deg)!important
}

.table-icon {
    background-image: url(../images/table-icons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px
}

.table-icon.icon__calc {
    background-position: 0
}

.table-icon.icon__thumb-down {
    background-position: -25px 0
}

.table-icon.icon__thumb-up {
    background-position: -47px 0
}

.table-icon.icon__delete {
    background-position: -71px 0
}

.btn-center {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

a.standart-link {
    text-decoration: underline;
    color: #53a424;
    font-size: 15px
}

.search-input {
    height: 40px;
    border: 1px solid #c0c3bf;
    padding-left: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 98% 5px
}

.half-color-wrapper {
    background: #e6ece9;
    background: -webkit-gradient(left top, right top, color-stop(0, #e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, #e6ece9, #e6ece9 50%, #fff 0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), to(#fff));
    background: -webkit-linear-gradient(left, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    background: linear-gradient(90deg, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6ece9", endColorstr="#ffffff", GradientType=1)
}

.content-center-wrapper {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.modal-content {
    background-color: #ccd5d0;
    box-shadow: none;
    border-radius: 0;
    border: none
}

.modal-content .modal-header {
    border-bottom: none
}

.modal-content .modal-header .close {
    opacity: 1
}

.modal-content .modal-body {
    padding-top: 0
}

.sales-product.gold {
    background-color: #f5ffb6;
    border: 2px solid #71bf44
}

.grey-bg {
    background: #ebf0ee
}

.btn-green {
    text-decoration: none
}

.complain-link {
    color: #ff4747
}

.ap-prod-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: 700
}

.ap-wrapper {
    width: 100%;
    background-color: #d9e1dd;
    padding-top: 0;
    margin-top: -5px
}

.ap-wrapper .mb20 {
    display: block
}

.ap-wrapper .load-com-logo {
    padding: 0 15px;
    text-align: center
}

.ap-wrapper .text_grey btn-green {
    font-size: 15px
}

.ap-choose {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.ap-choose__item {
    float: left;
    cursor: pointer;
    width: 270px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    background-color: #b4bbb8;
    margin-right: 25px
}

@media ( max-width:800px ) {
    .ap-choose__item {
        height: 40px;
    }
}

.ap-choose__item a {
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%
}

.ap-choose__item.active a {
    background-color: #d9e1dd;
    color: #000;
    display: block;
    width: 100%;
    height: 100%
}

.ap-info-text__item {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #000
}

.ap-info-text__item:first-child {
    padding-top: 38px
}

.ap-create-button {
    height: 55px;
    text-transform: uppercase;
    border: none;
    background-color: #7fc556;
    color: #fff;
    font-size: 19px;
    text-align: center;
    padding: 0 15px;
    display: block;
    margin: 0 auto;
    margin-top: 33px
}

.ap-container {
    width: 100%;
    max-width: 1164px;
    margin: 0 auto;
    padding-bottom: 20px
}

.ap-company-form {
    padding-top: 50px;
    position: relative
}

.ap-company-form select {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

.ap-company-form input {
    padding-left: 20px
}

.ap-company-heading__title {
    font-size: 19px;
    color: #000
}

.ap-company-heading .ap-prod-type {
    margin-top: 35px;
    padding: 0
}

.ap-company-heading .ap-prod-type__title {
    display: inline-block;
    color: #000;
    font-size: 19px
}

.ap-company-heading .ap-prod-type label {
    cursor: pointer
}

.ap-company-heading .ap-select-heading {
    display: block;
    width: 100%
}

.ap-company-subheading__title {
    font-size: 19px;
    color: #000
}

.ap-company-subheading .ap-select-subheading {
    display: block;
    width: 100%
}

.ap-form-rubric {
    margin-top: 20px
}

.ap-form-rubric__title {
    font-size: 19px;
    color: #000
}

.ap-form-rubric__input {
    width: 100%;
    height: 42px;
    border: 1px solid #cccecb
}

.ap-form-rubric__left-chars {
    color: #7fc556;
    font-size: 15px
}

.ap-form-date {
    padding-top: 65px
}

.ap-form-date__title {
    font-size: 19px;
    color: #000
}

.ap-form-text {
    margin-top: 30px
}

.ap-form-text__title {
    font-size: 19px;
    color: #000
}

.ap-form-text__textarea {
    width: 100%;
    height: 184px;
    resize: none
}

.ap-form-text__left-chars {
    color: #7fc556;
    font-size: 15px
}

.ap-form-photos {
    background-color: #ecf1ee;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: -100%;
    margin-right: -100%;
    padding-left: 100%;
    padding-right: 100%
}

.ap-form-photos__title {
    font-size: 19px;
    color: #000
}

.ap-form-photos .ap-form-photo {
    height: 180px;
    margin: 0 auto;
    margin-bottom: 30px
}

.ap-form-photos .ap-form-photo .square-add-button {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    left: 50%;
    margin-left: -31px
}

.ap-form-photos .ap-form-photo:hover .square-add-button {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.ap-form-photos .ap-form-photo .item {
    width: 80%;
    height: 100%;
    margin: 0 auto
}

.ap-form-photos .ap-form-photo .item img {
    width: 90%;
    height: 100%;
    max-height: 180px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 5%
}

.ap-form-photos .ap-form-photo #image1, .ap-form-photos .ap-form-photo #image2, .ap-form-photos .ap-form-photo #image3, .ap-form-photos .ap-form-photo #image4, .ap-form-photos .ap-form-photo #image5, .ap-form-photos .ap-form-photo #image6 {
    display: none
}

.ap-form-photos .ap-form-photo .image1-label, .ap-form-photos .ap-form-photo .image2-label, .ap-form-photos .ap-form-photo .image3-label, .ap-form-photos .ap-form-photo .image4-label, .ap-form-photos .ap-form-photo .image5-label, .ap-form-photos .ap-form-photo .image6-label {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1
}

.ap-form-photos .ap-form-photo__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2
}

.ap-form-location {
    padding: 0;
    margin: 0
}

.ap-form-location__title {
    font-size: 19px;
    color: #000;
    padding-top: 30px
}

.ap-form-location .city select {
    width: 100%
}

.ap-form-location .region {
    padding-left: 0
}

.ap-form-location .region select {
    width: 100%
}

.ap-form-location-add-more {
    cursor: pointer
}

.ap-form-location-add-more__button {
    display: inline-block;
    margin-top: 20px;
    float: left;
    margin-right: 15px;
    opacity: .7
}

.ap-form-location-add-more__button:hover {
    opacity: 1
}

.ap-form-location-add-more__text {
    display: block;
    float: left;
    margin-top: 30px
}

.ap-form-price {
    padding: 0;
    margin: 0;
    margin-top: 30px
}

.ap-form-price .price {
    padding-left: 0
}

.ap-form-price__title {
    font-size: 19px;
    color: #000
}

.ap-form-price input {
    width: 45%;
    height: 42px
}

.ap-form-price input::-webkit-input-placeholder {
    color: #000
}

.ap-form-price input:-moz-placeholder, .ap-form-price input::-moz-placeholder {
    color: #000
}

.ap-form-price input:-ms-input-placeholder {
    color: #000
}

.ap-form-price select {
    width: 45%;
    float: right
}

.ap-form-volume {
    padding: 0;
    margin: 0;
    margin-top: 30px
}

.ap-form-volume .volume {
    padding-left: 0
}

.ap-form-volume__title {
    font-size: 19px;
    color: #000
}

.ap-form-volume input {
    width: 45%;
    height: 42px
}

.ap-form-volume input::-webkit-input-placeholder {
    color: #000
}

.ap-form-volume input:-moz-placeholder, .ap-form-volume input::-moz-placeholder {
    color: #000
}

.ap-form-volume input:-ms-input-placeholder {
    color: #000
}

.ap-form-volume select {
    width: 45%;
    float: right
}

.ap-form-agreement {
    margin-top: 30px
}

.ap-form-agreement label {
    font-size: 18px
}

.ap-form-agreement__title {
    font-size: 19px;
    color: #000
}

.ap-form-submit {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 40px;
    margin-bottom: 65px
}

.ap-form-submit__title {
    font-size: 19px;
    color: #000
}

.ap-form-submit__preview {
    background: transparent;
    color: #7fc556
}

.ap-form-submit__preview, .ap-form-submit__publish {
    border: none;
    text-transform: uppercase;
    font-size: 19px;
    height: 50px
}

.ap-form-submit__publish {
    padding: 0 60px;
    color: #fff;
    background-color: #7fc556
}

.ap-form-contacts {
    margin-top: 30px
}

.ap-form-contacts__title {
    font-size: 19px;
    color: #000
}

.ap-form-contacts__input {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    border: 1px solid #cccecb;
    padding-left: 20px
}

.ap-form-contacts__input::-webkit-input-placeholder {
    color: #000
}

.ap-form-contacts__input:-moz-placeholder, .ap-form-contacts__input::-moz-placeholder {
    color: #000
}

.ap-form-contacts__input:-ms-input-placeholder {
    color: #000
}

.ap-success-container__message {
    height: 140px;
    line-height: 140px;
    background-color: #6fc141;
    font-size: 34px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}

.ap-success-info__title {
    text-transform: uppercase;
    color: #000;
    margin-top: 60px
}

.ap-success-info__link, .ap-success-info__title {
    font-size: 21px;
    text-align: center;
    padding: 0 20px
}

.ap-success-info__link {
    color: #6fc141;
    text-decoration: underline;
    display: block;
    word-break: break-all
}

.ap-success-info__message {
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 20px
}

.ap-success-info__message a {
    color: #6fc141;
    text-decoration: underline
}

.register-user .ap-form-contacts {
    margin-bottom: 30px
}

.register-user label {
    cursor: pointer
}

.registration-form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto
}

.registration-form .same-user {
    margin-top: 15px
}

.registration-form .agreement {
    margin-top: 50px
}

.registration__input {
    width: 100%;
    margin-top: 30px;
    padding-left: 20px;
    height: 42px
}

.registration__input:first-child {
    margin-top: 60px
}

.registration__button {
    display: block;
    margin: 50px auto
}

.ap-choose__item.registration {
    margin-right: 0
}

#add-file, .load-com-logo p.text_grey {
    display: none
}

.enter__title {
    color: #000;
    margin-top: 40px
}

.enter__input {
    display: block;
    width: 100%;
    height: 42px;
    padding-left: 20px
}

.enter-help__left {
    float: left;
    margin-top: 20px
}

.enter-help__left:focus, .enter-help__left:hover {
    color: #71bf44
}

.enter-help__right {
    float: right;
    margin-top: 20px
}

.enter-help__right:focus, .enter-help__right:hover {
    color: #71bf44
}

.wheat-quality {
    margin-top: 50px
}

.wheat-quality__class {
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: 700
}

.wheat-quality-form-item {
    margin-top: 20px
}

.wheat-quality-form-item:first-child {
    margin-top: 0
}

.wheat-quality-form__title {
    text-align: right;
    margin-bottom: 0;
    line-height: 42px;
    color: #000;
    font-size: 15px
}

.wheat-quality-form__input {
    text-align: center
}

.wheat-quality-form__input.placeholder {
    padding-left: 0
}

.logistic-calc {
    margin-top: 46px
}

.logistic-calc-buttons {
    margin-top: 60px
}

.logistic-calc__big-select {
    width: 100%
}

.logistic-calc__select {
    min-width: 235px
}

.logistic-calc-data.about-container {
    margin-bottom: 0
}

.logistic-calc-form {
    margin-top: 56px
}

.logistic-calc-form__title {
    padding: 0;
    line-height: 42px
}

.logistic-calc__exchange-rates {
    margin: 0;
    font-style: italic
}

.logistic-calc-info {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    color: #000;
    font-weight: 700
}

.logistic-calc-info-dist {
    display: inline-block
}

.logistic-calc-info-dist span {
    font-size: 19px
}

.logistic-calc-info-dist span.number {
    font-size: 28px
}

.logistic-calc-info-price {
    display: inline-block;
    margin-left: 46px
}

.logistic-calc-info-price span {
    font-size: 19px
}

.logistic-calc-info-price span.number {
    font-size: 28px
}

.location-close {
    display: inline-block;
    text-decoration: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0;
    font-size: 25px;
    border: none;
    background: transparent
}

.location-add {
    display: none
}

.location p {
    margin-bottom: 0
}

.sales-product-watched a, .sales-product-watched p {
    text-decoration: none;
    display: block;
    text-align: center
}

.sales-product .col-sm-3, .sales-product .col-sm-5 {
    margin-top: 15px
}

.link-underline.big {
    font-size: 17px
}

figure.effect-chico {
    height: 100%
}

figure.effect-chico img {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1)
}

figure.effect-chico img:hover {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2)
}

.logistic-calc-item {
    display: block;
    height: 200px;
    border-top: 1px solid #cfd1d2
}

.logistic-calc-item div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.logistic-calc-item div img {
    width: 100%
}

.logistic-calc-item:last-child {
    border-bottom: 1px solid #cfd1d2
}

.logistic-calc-item__title {
    color: #5eac3b;
    font-size: 24px
}

.logistic-calc-item__text {
    color: #000;
    font-size: 15px
}

.logistic-calc-item__text-title {
    color: #000;
    font-size: 19px
}

.news-container {
    padding-left: 0
}

.news-search {
    width: 100%;
    margin-top: 30px
}

.news-item {
    margin-top: 30px;
    margin-bottom: 20px
}

.news-item__image {
    width: 100%
}

.news-item__title {
    font-size: 24px;
    color: #000
}

.news-item__date {
    font-size: 15px;
    color: #585858
}

.news-item-header {
    padding-bottom: 23px
}

.hot-news-item {
    padding-top: 30px
}

.hot-news-item:first-child {
    padding-top: 0
}

.hot-news-item__title {
    color: #69b93b;
    font-size: 24px;
    text-decoration: none
}

.hot-news-item__title:focus, .hot-news-item__title:hover {
    color: #69b93b
}

.hot-news-item__subtitle {
    color: #000;
    font-size: 19px
}

.hot-news-item__text {
    color: #000;
    font-size: 15px
}

.calendar, .calendar-item {
    padding-top: 40px
}

.calendar-item__title {
    color: #000;
    font-size: 24px
}

.calendar-item__img {
    width: 100%
}

.calendar-item__link {
    display: block;
    font-size: 19px;
    color: #69b93b;
    text-decoration: none
}

.calendar-item__link:focus, .calendar-item__link:hover {
    color: #69b93b
}

.latest-news {
    margin-bottom: 50px
}

.latest-news-item {
    margin-top: 28px
}

.latest-news-item span {
    font-style: italic
}

.latest-news-item__date, .latest-news-item__day {
    color: #717171;
    float: left
}

.latest-news-item__day {
    margin-left: 10px
}

.latest-news-item__time {
    color: #717171;
    float: right
}

.latest-news-item__text {
    margin-top: 15px
}

.latest-news-item__watched-img {
    vertical-align: baseline
}

.latest-news-item__watched-count {
    margin-left: 8px;
    color: #79919e;
    font-size: 15px
}

.latest-news-item .col-xs-12 {
    padding: 0
}

.list-services {
    text-align: center;
	margin-bottom: -61px;
}

.list-services .item {
    box-sizing: border-box;
    max-width: 24.7%;
    display: inline-block
}

.list-services .item ul {
    padding: 0 36px
}

.list-services .item ul li {
    text-align: left;
    font-size: 18px
}

.instruments .item a {
    text-decoration: none
}

.comp-map {
    background: #d9e1dd;
    padding: 35px 0
}

.comp-map_grey {
    background: #ecf1ee
}

.comp-map__dist {
    max-width: 255px
}

.filter {
    padding-right: 150px;
    box-sizing: border-box;
    white-space: nowrap
}

.filter:last-child {
    padding-right: 0
}

.filter__title {
    min-width: 150px;
    color: #000
}

.filter-input {
    display: block
}

.filter-inputs {
    padding-right: 0
}

.filter-inputs label {
    display: block;
    width: 100%
}

.personal-info__photo {
    width: 100%
}

.personal-info__name {
    text-transform: uppercase;
    font-size: 19px
}

.personal-info__contact, .personal-info__name {
    color: #000;
    font-weight: 700
}

.personal-info__contact span {
    font-weight: 400
}

.personal-info__complain {
    display: block;
    color: #f15852;
    background: transparent;
    border: none
}

.personal-info__complain:focus, .personal-info__complain:hover {
    color: #f15852
}

.full-news-item .short-info {
    width: 40%;
    float: left;
    padding-right: 20px
}

.full-news-item .short-info__date {
    color: #717171;
    font-style: italic;
    font-size: 15px;
    margin-right: 12px
}

.full-news-item .short-info__time {
    color: #717171;
    font-style: italic;
    font-size: 15px;
    margin-right: 15px
}

.full-news-item .short-info-socials {
    float: right
}

.full-news-item .short-info-socials a {
    text-decoration: none
}

.full-news-item .short-info-image img {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px
}

.full-news-item .short-info__desc {
    font-style: italic;
    font-size: 11px
}

.full-news-item .full-text__title {
    font-size: 19px;
    color: #000;
    text-transform: uppercase;
    margin-top: 27px
}

.full-news-item .full-text__text {
    font-size: 15px
}

.full-news-item .full-text-content p {
    margin-bottom: 0
}

.full-news-item .comments {
    margin-top: 40px;
    padding: 0
}

.full-news-item .comments__count {
    font-size: 19px;
    color: #000;
    text-transform: uppercase
}

.full-news-item .comments__count span {
    font-size: 19px
}

.full-news-item .comments .col-xs-12 {
    padding: 0
}

.full-news-item .comments__filter {
    border: none
}

.full-news-item .comments__photo img {
    width: 100%
}

.full-news-item .comments__textarea {
    width: 100%;
    resize: none;
    min-height: 90px
}

.another-news {
    padding-bottom: 50px;
    padding-top: 55px
}

.another-news__title {
    font-size: 19px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding: 0
}

.another-news-item {
    margin-top: 30px
}

.another-news-item__photo {
    width: 100%
}

.another-news-item__title {
    font-size: 19px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase
}

.another-news-item__text {
    font-size: 14px;
    color: #000;
}

.category-item.grey {
    background: #ebf0ee
}

.category-item__photo {
    width: 100%
}

.category-item__date {
    color: #717171;
    font-style: italic
}

.category-item__title {
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
    color: #000
}

.category-item__text {
    font-size: 14px;
    color: #000;
    text-align: justify
}

.event-photo {
    width: 40%;
    padding-right: 20px;
    float: left
}

.event-photo img {
    width: 100%
}

.event-info__title {
    font-weight: 700
}

.event-info__main-info, .event-info__title {
    font-size: 19px;
    color: #000;
    text-transform: uppercase
}

.event-info-about p {
    margin-bottom: 0
}

.event-info-about__title {
    color: #000;
    font-weight: 700
}

.event-info-about-list li {
    list-style: disc
}

.event-map__title {
    font-size: 19px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700
}

.another-events {
    margin-bottom: 50px;
    padding: 0
}

.another-events__title {
    font-size: 19px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700
}

.another-events-item {
    width: 19%;
    margin-top: 42px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.another-events-item a {
    text-decoration: none
}

.another-events-item a:hover .another-events-item__photo {
    border: 1px solid #79c849;
    -webkit-transition: .5s;
    transition: .5s
}

.another-events-item__date {
    margin-bottom: 27px;
    color: #717171;
    font-size: 15px;
    font-style: italic;
    text-align: center
}

.another-events-item__photo {
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 20px;
    -webkit-transition: .5s;
    transition: .5s
}

.another-events-item__name {
    color: #000;
    text-align: center;
    margin-top: 30px
}

.dstu .item {
    margin-bottom: 25px
}

.dstu .item__title {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0
}

.dstu .item__link:focus, .dstu .item__link:hover {
    color: #71bf44
}

@media (max-width:1164px) {
    .ap-company-form {
        overflow: hidden;
        padding: 20px
    }
}

@media (max-width:550px) {
    .registration-form {
        padding: 0 15px
    }
}

.dialog-container {
    padding-bottom: 50px;
    margin-bottom: 40px;
    background-color: #d9e1dd
}

.dialog-search {
    margin-top: 40px
}

.dialog-message {
    margin-top: 30px
}

.dialog-message__name {
    font-size: 17px;
    color: #000
}

.dialog-message__org {
    font-size: 17px;
    color: #6bb540;
    text-decoration: underline
}

.dialog-message__org:hover {
    color: #6bb540
}

.dialog-message__text {
    text-align: justify;
    padding-right: 5px;
    padding-top: 5px
}

.dialog__search-input {
    width: 60%;
    height: 40px;
    border: none;
    padding-left: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 98% 5px
}

.dialog__archive {
    float: right;
    color: #6bb540;
    text-decoration: underline
}

.dialog__archive:hover {
    color: #6bb540
}

.dialog__message-title {
    font-size: 19px;
    color: #000;
    text-transform: uppercase
}

.dialog-user {
    height: 90px;
    background-color: #fff;
    padding: 0;
    width: 140px
}

.dialog-user__avatar {
    width: 100%
}

.dialog-user__message {
    width: 100%;
    resize: none;
    height: 90px;
    padding-left: 20px;
    padding-top: 10px
}

@media (max-width:769px) {
    .dialog-container {
        width: 100%
    }
    .dialog-container.dialogs {
        margin-left: 0;
        margin-right: 0
    }
}

.dialog-filter {
    float: right
}

.dialog-filter label {
    margin-left: 20px
}

.dialog-filter-wrapper {
    margin-top: 44px
}

.dialog .input-center {
    width: 280px;
    display: block;
    margin: 0 auto
}

.dialog .white-row {
    background-color: #fff
}

.dialog .white-row p {
    margin-bottom: 0;
    margin-top: 10px
}

.dialog .white-row .col-xs-2 {
    padding-right: 0
}

.dialog .grey-row {
    background-color: #f0f0f0
}

.dialog .grey-row .col-xs-2 {
    padding-right: 0
}

.dialog .grey-row p {
    margin-bottom: 0;
    margin-top: 10px
}

.dialog .head-row {
    height: 65px;
    text-align: center
}

.message-label {
    font-size: 15px
}

.message-container {
    margin-top: 40px;
    min-height: .01%;
    overflow-x: auto
}

.message-container table {
    border: 1px #bdc0bc;
    border-collapse: collapse
}

.message-container td, .message-container th {
    margin: 5px;
    border: 1px solid #bdc0bc
}

.message-pagination {
    margin-top: 40px
}

.message-pagination__select {
    width: 80px;
    padding-right: 20px;
    background-position: 80%;
    margin-right: 20px
}

.message-pagination__text {
    margin-right: 20px;
    color: #000
}

.message-pagination .pagination {
    float: right;
    margin: 0
}

@media (max-width:768px) {
    .dialog-message {
        margin-left: 20px;
        width: 100%
    }
    .dialog-user__message {
        margin-top: 30px
    }
}
@media (max-width:1024px) {
    .full-news-item .short-info {
        width: 100%;
        float: none;
        padding-right: 0;
    }
}
.important-info {
    background-color: #f7fbc3;
    padding: 25px 70px;
    font-size: 15px
}

.important-info__title {
    color: #000
}

.important-info__text {
    line-height: 15px;
    margin-top: -3px
}

.important-info__i {
    position: absolute;
    top: -15px;
    left: 15px
}

.important-info__close {
    position: absolute;
    top: -9px;
    right: 15px;
    cursor: pointer
}

.important-info__hide {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s
}

.about-container {
    background-color: #d9e1dd;
    padding: 35px;
    margin-top: 35px;
    margin-bottom: 50px
}

.about-container__page-name {
    width: 100%;
    height: 42px
}

.about-container__code {
    width: 100%;
    height: 265px!important;
    margin-top: 35px;
    resize: none
}

.about-container__save {
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 35px
}

.branches {
    background-color: #d9e1dd;
    padding: 35px;
    margin-top: 35px;
    margin-bottom: 50px
}

.branches-table-wrapper {
    width: 100%;
    overflow-x: auto
}

.branches-table {
    border: 1px solid #bdc0bc;
    border-collapse: collapse;
    overflow-x: auto
}

.branches-table__actions {
    width: 120px
}

.branches-table tr {
    height: 48px
}

.branches-table tr td, .branches-table tr th {
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid #bdc0bc
}

.branches-pagination {
    margin-top: 40px
}

.branches-pagination__select {
    width: 80px;
    padding-right: 20px;
    background-position: 80%!important;
    margin-right: 20px
}

.branches-pagination__text {
    margin-right: 20px;
    color: #000
}

.branches-pagination .pagination {
    float: right;
    margin: 0
}

.grey-row {
    background-color: #f0f0f0
}

.white-row {
    background-color: #fff
}

.show-prices {
    margin-bottom: 20px
}

.show-prices__date {
    display: inline-block;
    padding: 5px 30px;
    background-color: #fff;
    border: 1px solid #bdc0bc;
    margin: 0 20px
}

.show-prices .export-to-csv {
    float: right
}

.table-select {
    width: 100%;
    height: 100%;
    border: none!important;
    margin: 0;
    padding-left: 0!important
}

.table-info-button {
    float: right;
    margin-right: 10px;
    cursor: pointer
}

.notice__title {
    text-transform: uppercase;
    font-size: 17px;
    color: #000
}

.notice__select {
    width: 83%
}

.notice__add-prod, .notice__save {
    margin-top: 30px
}

.notice__save {
    padding: 10px 70px;
    float: right
}

.send-pass {
    margin-top: 50px
}

.send-pass__item {
    margin-bottom: 20px;
    width: 100%;
    height: 42px;
    padding-left: 20px
}

.change-email {
    margin-top: 50px
}

.change-email__item {
    margin-bottom: 20px;
    width: 100%;
    height: 42px;
    padding-left: 20px
}

.prod-select {
    background-color: transparent;
    border: none;
    width: 100%
}

.my-prod-to-top {
    width: 200px
}

.calc-container {
    background-color: #d9e1dd;
    padding: 40px 35px;
    box-sizing: border-box;
    margin-bottom: 35px
}

.calc__title {
    text-transform: uppercase;
    margin-left: 0
}

.calc-row {
    margin-top: 35px
}

.calc__input, .calc__select {
    width: 100%
}

.calc__input.mb, .calc__select.mb {
    margin-bottom: 15px
}

.languages__select, .lenguages {
    display: inline-block
}

.languages__select {
    width: 43px;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #7ac142;
    cursor: pointer;
    margin-bottom: 0
}

.singup {
    margin-top: 9px
}

ul.navigation__languages {
    display: none;
    width: 43px;
    position: absolute;
    border: 1px solid #7ac142;
    padding: 0;
    margin: 0;
    z-index: 1;
    box-sizing: border-box;
}

ul.navigation__languages li {
    float: none;
    padding: 5px;
    margin-left: 0;
    font-size: 16px;
    font-family: Geometria;
    text-align: center
}

ul.navigation__languages li a {
    text-decoration: none;
    margin-left: 0
}

@media (max-width:767px) {
    .wheat-quality-form__title {
        text-align: center
    }
    .wheat-quality-form__input {
        width: 100%
    }
    .logistic-calc-item {
        height: auto;
        border-top: 1px solid #cfd1d2;
        padding-top: 50px
    }
    .logistic-calc-item div {
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    .logistic-calc-item div:last-child {
        margin-bottom: 30px
    }
    .logistic-calc-item div img {
        width: 100%
    }
    .logistic-calc-item__text-title {
        margin-top: 20px
    }
    .half-color-wrapper {
        background: #fff!important
    }
    .list-services .item {
        width: 100%;
        max-width: 100%!important;
    }
    .another-events {
        text-align: center
    }
    .another-events-item {
        width: 30%;
        display: inline-block;
        width: 48%
    }
}
