@font-face {
    font-family: Geometria;
    src: url(../fonts/Geometria.otf)
}

.bg-g {
    background-color: #d9e1dd
}

.db {
    display: block
}

.ib, .table-icon {
    display: inline-block
}

.fl {
    float: left
}

.fr {
    float: right
}

.p0 {
    padding: 0
}

.pb0 {
    padding-bottom: 0
}

.pl15 {
    padding-left: 15px
}

.pr15 {
    padding-right: 35px
}

.pl35 {
    padding-left: 35px
}

.pr35 {
    padding-right: 15px
}

.m0 {
    margin: 0
}

.ml10 {
    margin-left: 10px
}

.mr20 {
    margin-right: 20px
}

.mr50 {
    margin-right: 50px
}

.mt20 {
    margin-top: 20px
}

.mb20 {
    margin-bottom: 20px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px
}

.mb30 {
    margin-bottom: 30px
}

.mt35 {
    margin-top: 35px
}

.mb35 {
    margin-bottom: 35px
}

.mt45 {
    margin-top: 45px
}

.instruments-block-inactive-message-block__text, .mb40 {
    margin-bottom: 40px
}

.w200 {
    width: 200px
}

.mtb25 {
    margin: 25px 0
}

.mtb50 {
    margin: 50px 0
}

.pt35 {
    padding-top: 35px
}

.pt45 {
    padding-top: 45px
}

.ptb40 {
    padding: 40px 0
}

.mw300 {
    min-width: 300px
}

.bold {
    font-weight: 700
}

.fs15, input[type=checkbox]+label {
    font-size: 15px
}

.fs16 {
    font-size: 16px
}

.fs17 {
    font-size: 17px
}

.fs20 {
    font-size: 20px
}

.fw600 {
    font-weight: 600
}

.black {
    color: #000
}

.tdn {
    text-decoration: none
}

.dsb {
    display: block
}

.fw {
    width: 100%
}

a {
    color: #71bf44;
    text-decoration: underline
}

input[type=text] {
    padding-left: 20px;
    height: 42px
}

input[type=checkbox]+label {
    font-weight: 400;
    padding-right: 10px
}

input[type=checkbox].inline-checkbox+label {
    padding-left: 10px
}

input[type=checkbox].inline-checkbox+label:before {
    margin: 5px 10px 0 -21px
}

td, th {
    padding: 0 10px
}

.instruments-block-item, .panel p[aria-expanded=true], .panel p[aria-expanded=true] .panel__icon, .transition {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.important-info-link__item, .instruments-block-inactive-message-block, .vac {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.instruments-block-inactive-message-block, .tac {
    text-align: center
}

.title {
    font-size: 19px;
    color: #000
}

.all-select, .pay-check select {
    padding-left: 20px;
    padding-right: 35px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none
}

.btn-white {
    background: transparent;
    border: 1px solid #71bf44;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 19px
}

.btn-white, .btn-white:focus, .btn-white:hover {
    color: #71bf44
}

.cp-title {
    font-family: Helvetica Bold;
    text-transform: uppercase;
    font-size: 23px;
    height: 100px;
    line-height: 100px;
    text-align: center
}

.slct-w50-ib {
    width: 50%!important;
    display: inline-block!important
}

.slct-bn {
    border: none
}

.serv-link {
    font-size: 10px;
    padding-bottom: 5px
}

.branches-table .prod-link1, .branches-table .prod-link3 {
    padding: 0 5px 5px
}

.branches-table .prod-link2 {
    padding: 0 0 5px
}

.centered-block {
    display: block;
    margin: 0 auto
}

.text_grey {
    color: #b1b3b0
}

.yellow_light_bg {
    background-color: #f7fbc3
}

.green_bg {
    background-color: #71bf44;
    color: #fff
}

.toggle_block {
    padding: 30px 55px
}

.placeholder {
    padding-left: 20px
}

.placeholder::-webkit-input-placeholder {
    color: #000
}

.placeholder:-moz-placeholder, .placeholder::-moz-placeholder {
    color: #000
}

.placeholder:-ms-input-placeholder {
    color: #000
}

.important-info {
    background-color: #f7fbc3;
    padding: 25px 70px;
    font-size: 15px
}

.important-info__title {
    color: #000
}

.important-info__text {
    line-height: 15px;
    margin-top: -3px
}

.important-info__i {
    position: absolute;
    top: -15px;
    left: 15px
}

.important-info__close {
    position: absolute;
    top: -9px;
    right: 15px;
    cursor: pointer
}

.important-info__hide {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer
}

.important-info-link {
    display: block;
    padding: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #71bf44;
    text-align: center;
    min-height: 77px;
    position: relative
}

.important-info-link__item {
    padding: 15px
}

.important-info-link:hover {
    color: #fff
}

.instruments-block {
    background-color: #89ca64;
    color: #fff;
    position: relative
}

.instruments-block-inactive {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(219, 221, 245, .7)
}

.instruments-block-inactive-message-block {
    height: auto;
    width: 500px;
    background-color: #fff;
    margin: 0 auto
}

.instruments-block-inactive-message-block__text {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase
}

.instruments-block-inactive-message-block__button {
    margin-bottom: 30px
}

.instruments-block-title {
    color: #000;
    font-size: 24px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase
}

.instruments-block-item {
    position: relative;
    color: #fff;
    text-align: center;
    min-height: 206px;
    border-top: 1px solid #9dd37e;
    border-right: 1px solid #9dd37e;
    text-decoration: none;
    cursor: pointer
}

.instruments-block-item:hover {
    background-color: #71bf44;
    color: #fff
}

.hiddens {
    display: none
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s
}

.rotate270 {
    -webkit-transform: rotate(270deg)!important;
    transform: rotate(270deg)!important
}

.table-icon {
    background-image: url(../images/table-icons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px
}

.table-icon.icon__calc {
    background-position: 0
}

.table-icon.icon__thumb-down {
    background-position: -25px 0
}

.table-icon.icon__thumb-up {
    background-position: -47px 0
}

.table-icon.icon__delete {
    background-position: -71px 0
}

.btn-center {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

a.standart-link {
    text-decoration: underline;
    color: #53a424;
    font-size: 15px
}

.search-input {
    height: 40px;
    border: 1px solid #c0c3bf;
    padding-left: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 98% 5px
}

.half-color-wrapper {
    background: #e6ece9;
    background: -webkit-gradient(left top, right top, color-stop(0, #e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(left, #e6ece9, #e6ece9 50%, #fff 0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6ece9), color-stop(50%, #e6ece9), color-stop(50%, #fff), to(#fff));
    background: -webkit-linear-gradient(left, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    background: linear-gradient(90deg, #e6ece9 0, #e6ece9 50%, #fff 0, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6ece9", endColorstr="#ffffff", GradientType=1)
}

.content-center-wrapper {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.modal-content {
    background-color: #ccd5d0;
    box-shadow: none;
    border-radius: 0;
    border: none
}

.modal-content .modal-header {
    border-bottom: none
}

.modal-content .modal-header .close {
    opacity: 1
}

.modal-content .modal-body {
    padding-top: 0
}

.sales-product.gold {
    background-color: #f5ffb6;
    border: 2px solid #71bf44
}

.grey-bg {
    background: #ebf0ee
}

.fs19 {
    font-size: 19px
}

.din {
    display: inline-block
}

.whi {
    width: inherit
}

.brbn {
    border-bottom: none!important
}

.brtn {
    border-top: none!important
}

.ttu {
    text-transform: uppercase
}

.pt50 {
    padding-top: 50px
}

.ptb {
    padding-top: 25px!important;
    padding-bottom: 25px!important
}

.mt10 {
    margin-top: 10px
}

.instruments-block-inactive-message-block__text, .mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mb75 {
    margin-bottom: 75px
}

.pb25 {
    padding-bottom: 25px
}

.mb10 {
    margin-bottom: 10px
}

.mb25 {
    margin-bottom: 25px
}

.pr15 {
    padding-right: 15px
}

.pr {
    position: relative
}

.pays {
    padding: 60px 0 65px;
    background: #ecf1ee
}

.pays .step-way {
    position: relative;
    font-size: 19px;
    font-family: Helvetica Bold;
    text-align: center;
    display: block;
    margin-bottom: 65px;
    text-transform: uppercase
}

.pays .step-way:before {
    position: absolute;
    top: -100px;
    display: block;
    font-size: 60px;
    font-family: Helvetica Medium;
    width: 85px;
    height: 85px;
    background-color: #71bf44;
    color: #fff;
    border-radius: 50%;
    left: calc(50% - 45px)
}

.pay-check {
    margin-top: 95px;
    margin-bottom: 95px
}

.pay-check .step-way:before {
    content: "1"
}

.pay-check .date-price, .pay-check .radio {
    text-align: center;
    display: block
}

.pay-check .radio label {
    font-size: 18px;
    min-height: 50px
}

.pay-check select {
    width: 115px;
    display: inline-block
}

.pay-check .price {
    font-size: 32px;
    margin-left: 20px;
    vertical-align: bottom;
    font-family: Helvetica Bold
}

.pay-check .value-s {
    font-size: 19px;
    padding-left: 5px;
    font-family: Helvetica Bold
}

.pay-service {
    padding-bottom: 0
}

.pay-service .step-way:before {
    content: "2"
}

.pay-service .checkes {
    text-align: center
}

.pay-service label {
    background-color: #fff;
    margin: 0
}

.pay-service label:hover {
    background-color: #eff1ef
}

.pay-service label span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    background: #dde2df;
    border: 2px solid transparent;
    border-top: none
}

.pay-service .col-sm-4:last-child label span {
    padding: 10px;
    line-height: 16px
}

.pay-service input[type=radio] {
    display: none!important
}

.pay-service input[type=radio]+label:before {
    content: "";
    display: block;
    height: 175px;
    width: 270px;
    margin: 0;
    background-image: url(/images/cheked-pay-liqpay.png);
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-bottom: none
}

.pay-service input[type=radio]:checked+label:before {
    border: 2px solid #71bf44;
    border-bottom: none
}

.pay-service input[type=radio]:checked+label span {
    border: 2px solid #71bf44;
    border-top: none
}

.pay-service input[type=radio]:disabled+label:before {
    background-position: 0 0
}

.pay-service input[type=radio]:checked:disabled+label:before {
    background-position: 0 -11px
}

.pay-service .liqpay input[type=radio]+label:before {
    background-image: url(/images/cheked-pay-liqpay.png);
    background-position: 20px 50px
}

.pay-service .privat input[type=radio]+label:before {
    background-image: url(/images/cheked-pay-privat.png);
    background-position: 69px 30px
}

.pay-service .terminal input[type=radio]+label:before {
    background-image: url(/images/cheked-pay-terminal.png);
    background-position: 69px 20px
}

.total-block {
    padding: 90px 0;
    text-align: center
}

.total-block .total-name {
    font-size: 19px;
    font-family: Helvetica Bold;
    text-transform: uppercase;
    margin-right: 60px
}

.total-block .total-price {
    font-size: 45px;
    font-family: Helvetica Bold;
    margin-right: 65px
}

.total-block .total-price .value-t {
    font-size: 26px
}

.total-block a {
    font-size: 19px
}

.total-block button {
    display: block;
    padding: 10px 80px;
    margin: 85px auto 0
}

.rate .bg-full {
    padding: 10px 30px 45px;
    border: 2px solid #71bf44;
    background-color: #d9e1dd;
    margin-bottom: 20px
}

.rate-block-title {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center
}

.rate .strg {
    font-family: Helvetica Bold
}

.rate .list-opt {
    font-size: 17px;
    margin-top: 45px;
    display: block
}

.rate ol {
    padding: 0;
    list-style-type: none;
    counter-reset: a
}

.rate ol li {
    font-size: 17px;
    padding-left: 25px;
    position: relative
}

.rate ol li:before {
    content: counter(a) ") ";
    counter-increment: a;
    position: absolute;
    left: 0
}

.rate .block-rate-next {
    color: #868686
}

.rate .block-rate-next .bg-full {
    border: none
}

.rate .block-rate-next button {
    width: 100%;
    margin-top: 35px
}

.m-profile {
    padding: 55px 15px;
    background-color: #d9e1dd
}

.m-profile .block-label {
    font-size: 17px;
    text-transform: uppercase;
    font-family: Helvetica Bold;
    display: block;
    margin-bottom: 30px
}

.m-profile .ap-company-form {
    padding: 0 0 0 15px
}

.m-profile .ap-form-contacts {
    margin: 0 0 60px
}

.m-profile .ap-form-contacts button {
    padding: 10px 80px
}

.m-profile label {
    margin-right: 10px
}

.m-profile #find-product {
    width: calc(100% - 80px)
}

.m-profile .ap-form-new-price .ap-form-contacts__input {
    width: 150px
}

.rating-company {
    padding: 50px 15px
}

.rating-company .rating-number {
    position: absolute;
    top: 0;
    left: 0;
    background: #80857d;
    width: 38px;
    height: 38px;
    color: #fff;
    z-index: 1;
    font-size: 21px;
    text-align: center;
    line-height: 38px
}

.rating-company .location {
    color: #404f47
}

.rating-company .pagination {
    display: block;
    text-align: center;
    margin-top: 40px
}

.rating-company .view-product {
    padding-bottom: 0
}

.rating-company .sales-product {
    /*min-height: 193px;*/
    /*max-height: 193px;*/
    padding-right: 10px;
    height: auto;
}

.rating-company .sales-product.elevator-block .col-sm-4 img {
    margin: 0 10px
}

.rating-company .sales-product.elevator-block .col-sm-5 {
    margin-top: 40px
}

.rating-company .sales-product .col-sm-5 a {
    font-weight: 600
}

.rating-company .sales-product .col-sm-5 .comp-status {
    margin-top: 20px;
    display: block
}

.rating-company .sales-product .col-sm-3 {
    padding-right: 0
}

.rating-company .sales-product .col-sm-3 .link-underline {
    display: block
}

.rating-company #stars-gold {
    margin-top: 15px
}

.filter-accordion input[type=checkbox]+label {
    margin-left: 20px;
    display: block
}

.filter-accordion .panel-group .panel {
    background: none;
    box-shadow: none
}

.filter-accordion .panel-default .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    cursor: pointer
}

.filter-accordion .panel-default .panel-heading p {
    margin: 0 0 10px 10px
}

.filter-accordion .panel-default .panel-heading i {
    float: left;
    top: 5px;
    position: relative;
    left: -10px
}

.filter-accordion .dialog__search-input {
    width: 100%;
    border: 1px solid #cccecb
}

.filter-accordion .company-in-map {
    width: 100%;
    padding: 10px 0;
    margin-top: -2px
}

.filter-accordion .company-in-map:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    background-image: url(../images/marker.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 19px;
    height: 30px
}

.filter-accordion .filter {
    width: 100%
}

.filter-accordion .filter-result {
    display: block;
    font-size: 35px;
    margin-top: 30px;
    font-weight: 600
}

.filter-accordion .filter-result span {
    font-size: 19px;
    font-weight: 500;
    margin-left: 10px
}

.filter-accordion select {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #cccecb;
    height: 42px;
    background: url(../images/select-arrow.png) no-repeat #fff;
    background-position: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 60%;
    margin-top: 25px
}

.panel p[aria-expanded=true] .panel__icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.sales-product .col-sm-5 {
    padding-bottom: 20px
}

.new-p {
    padding-left: 10px!important;
    padding-right: 0!important
}

.new-p label {
    margin: 0;
    padding: 0!important
}

.company-cart {
    margin: 0 -15px 30px
}

.company-cart img {
    width: 100%
}

.company-cart span.fs19 {
    margin-bottom: 30px;
    display: block
}

.company-cart #stars-gold {
    position: relative;
    bottom: -20px;
    line-height: 10px;
    font-size: 13px
}

.company-cart .prod-link {
    font-size: 19px;
    margin-right: 43px;
    margin-top: 20px;
    display: inline-block;
    width: auto
}

.company-cart .prod-link:hover {
    color: #000
}

.another-product:before {
    height: 100%
}

.sales-product-watched {
    color: #000
}

.sales-product-watched a {
    text-decoration: none
}

.sales-product-watched span {
    font-size: 17px;
    height: 48px;
    overflow: hidden;
    display: block;
    text-align: center;
    color: #000
}

#price-block .branches-table .white-row:nth-child(n+6) {
    display: none
}

#price-block .branches-table .white-row td, #price-block .branches-table .white-row td span {
    font-family: Geometria Light;
    font-weight: 600
}

#price-block .click-filter {
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 0 25px
}

#price-block .click-filter:before {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    background: url(../images/two-arrows.png);
    width: 15px;
    height: 23px
}

#price-block .new-price-top {
    position: relative;
    top: -10px;
    right: 0;
    font-size: 10px;
    font-family: Geometria Light
}

#price-block .new-price-top.p-red {
    color: red
}

#price-block .new-price-top.p-green {
    color: green
}

.open-table {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none
}

.open-table:hover {
    color: #000
}

.open-table:after {
    content: "\f101";
    font-family: Flaticon;
    font-style: normal;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    text-align: center
}

#contact-block iframe {
    padding: 25px 0;
    width: 100%;
    height: 415px
}

#contact-block #stars-gold {
    display: inline-block;
    font-size: 12px;
    margin-left: 15px
}

#contact-block .all-rating {
    font-size: 22px;
    font-family: Geometria Light
}

#feedback-block .feed {
    margin: 15px 0 20px
}

#feedback-block .feed span {
    font-family: Geometria Light;
    font-weight: 600
}

#feedback-block .feed .percent {
    font-family: Helvetica Bold;
    margin-right: 25px
}

#feedback-block .block-feedback {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #86c860
}

#feedback-block .block-feedback #stars-gold {
    display: inline-block;
    float: right
}

#feedback-block .block-feedback .prod-link {
    font-size: 15px
}

#feedback-block .block-feedback img {
    width: 100%;
    margin-bottom: 10px
}

#feedback-block .block-feedback .feed-icon span {
    position: relative;
    padding-right: 50px
}

#feedback-block .block-feedback .feed-icon span.minus:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 25px;
    background: url(../images/feed-minus.png);
    background-size: 100%;
    width: 19px;
    height: 6px
}

#feedback-block .block-feedback .feed-icon span.plus:before {
    content: "";
    position: absolute;
    top: 0;
    right: 25px;
    background: url(../images/feed-plus.png);
    background-size: 100%;
    width: 19px;
    height: 19px
}

#company-block .bgg {
    background: rgba(204, 204, 204, 0.47);
}

#company-block .bgg p {
    font-size: 72px;
    text-align: center
}

.branches-table.little tr {
    height: 35px
}

.price-cart {
    margin-bottom: 15px
}

.price-cart .sales-product {
    margin-bottom: 0;
}

.price-cart .sales-product .col-sm-2 {
    margin: 20px 0
}

.price-cart .sales-product .col-sm-6 {
    margin: 15px 0
}

.price-cart .sales-product .col-sm-6 a {
    text-decoration: none
}

.price-cart .sales-product .col-sm-4 {
    margin: 20px 0 0
}

.price-cart .sales-product .col-sm-4 .link-underline, .rek-block {
    display: block
}

.rek-block {
    margin: 15px 0 30px
}

.rek-block img {
    width: 100%
}

.filter-show {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px
}

.filter-show a {
    margin-left: 40px;
    color: #000;
    text-decoration: none;
    position: relative
}

.filter-show a:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 2px;
    background-image: url(../images/important-close.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15px;
    width: 15px
}

.filter-show input {
    width: 100%;
    border: 1px solid #c0c3bf
}

.filter-show .input-center {
    width: calc(100% - 155px);
    display: inline-block;
    float: right
}

.filter-show .input-center.lti {
    width: calc(100% - 420px)
}

.ifr {
    width: 100%
}

label {
    margin-right: 10px
}

.zerno .logistic-calc-item div {
    text-align: center
}

.zerno .logistic-calc-item div img {
    width: auto;
    height: 100%
}

.thx-reg .ap-success-container__message {
    line-height: 40px;
    padding-top: 25px
}

.events .logistic-calc-item {
    height: 150px;
    border: none;
    text-align: center
}

.events .logistic-calc-item:last-child {
    border: none
}

.sr-btn, .sr_close {
    display: none
}

.sr-btn {
    border: none;
    background: none;
    padding: 0 10px;
    margin-top: 13px;
    margin-right: 15px;
    margin-bottom: 0
}
.sales-product-watched .effect-chico {
    max-height: 180px;
}
.sr-btn span {
    display: inline-block;
    width: 2px;
    height: 22px;
    margin-right: 0;
    background: #fff
}
.important-info .cp-title {
    height: auto;
    line-height: inherit;
    margin-top: 0
}
.pr span {
    top: -18px;
    left: 30px
}
.ant-date {
    margin-left: 15%
}
ul.navigation__languages {
    right: 16px;
    margin-top: -1px!important;
}
ul.navigation__languages {
    right: 16px;
    margin-top: -1px!important;
}
.cp-header ul.navigation__languages {
    right: 0;
}
.subscription{
    visibility: hidden;
}
.price-cart .branches-table tr td, .branches-table tr th {
    border-top: 1px solid #fff;
}
